[2017-03-12 20:50] howardchung commented on #790
Or OpenDota profile

[2017-03-12 21:17] #786 closed

[2017-03-12 21:17] OranShuster commented on #798
I never thought it would be "cheating proof"
You just have to believe that the amount of people that will do that are relatively small to the millions of players

[2017-03-12 23:04] nNnFEARbr commented on #790
What happens, is logged with my STEAM account is unknown and so it is not possible to see my games and my profile and audience as well. Do you know how to help me?

[2017-03-13 00:01] howardchung commented on #790
If you can provide your account ID then I can check to see if you have public match data exposed.

[2017-03-13 07:01] vzjrz opened #800 "MMR History not updating"
I don't know why but my mmr history graph is not updating since Feb 04 2017: https://www.opendota.com/players/83988951/mmr
I've verified that I have Expose Public Match Data checked. Can anyone help me understand what I'm dong wrong. All my other friends seem not to have this problem.

[2017-03-13 07:59] #800 closed

[2017-03-13 08:00] vzjrz commented on #800
Oh yeah I have to have my mmr public in my profile forgot about that.

[2017-03-13 17:58] davejkish opened #801 "Matches not automatically parsing"
Hi,

My matches have not been automatically parsing, even though it says they will be parsed.
![image](https://cloud.githubusercontent.com/assets/19862283/23868221/fd99e458-07f4-11e7-984f-16249f32a938.png)

I can manually parse the matches.
Profile:  29492429

Thanks!

[2017-03-14 01:24] nNnFEARbr commented on #790
This is 76561198124043063

[2017-03-14 01:54] howardchung commented on #801
It looks like you are playing almost all Ability Draft matches.

I disabled automatic replay parsing for non-significant game modes (AD/ARDM, etc.) during Dark Moon to avoid the additional load.

[2017-03-14 01:54] #801 closed

[2017-03-14 02:02] howardchung commented on #790
It appears that you don't have Expose Public Match Data enabled (this is a setting in the client).

[code]

Try enabling it and then clicking the "refresh" button on your OpenDota page.

[2017-03-14 05:48] howardchung commented on #522
Perhaps we should make the map similar to ability builds and show a large version on hover?  @blukai thoughts?

[2017-03-14 09:53] ivanpepelko opened #802 "Misaligned first column side lines on tables"
- OS: Arch Linux
- Screen Resolution: 2K, FHD
- Browser/Version: Mozilla Firefox 52.0

The coloured bar and 'party lines' on first table column are misaligned on following table views:
- overview
- matches
- match/overview
- match/benchmark
- match/combat
- match/farm
- match/objectives
- match/actions
- match/analysis
- match/log
- match/chat

Screenshots:

![image](https://cloud.githubuserconten

[2017-03-14 16:36] howardchung commented on #802
Might be some CSS that firefox handles differently from Chrome.  @blukai do you know what might cause this?

[2017-03-14 17:35] blukai commented on #802
Maybe something wrong with flexbox, can't reproduce it's on win 10 with ff 52

[2017-03-14 17:43] blukai commented on #522
Nope, map on hover is not so good, I guess. I'll try to figure out better way

[2017-03-14 19:00] nNnFEARbr commented on #790
how do I do that?

[2017-03-15 02:19] howardchung commented on #790
It's one of the settings in your game client.  Try looking through the options

[2017-03-15 02:28] howardchung commented on #802
@masad-frost is this something we can verify with browserstack?  and maybe test fixes

[2017-03-15 02:41] masad-frost commented on #802
No Linux support on browserstack.

I ran my arch partition, can't reproduce on FF 52, same resolution. Weird,.

[2017-03-15 03:02] masad-frost commented on #802
Ok, now I can reproduce on Ubuntu FF52, wtf. I think flexbox is broken. I can manually reproduce this on chrome by removing `display: flex`. I think `align-items: center` should fix it. I'll send a PR soon

[2017-03-15 11:02] blukai commented on #790
@nNnFEARbr
![image](https://cloud.githubusercontent.com/assets/20866892/23945582/b1296f44-097f-11e7-8e91-767ce72a9b5e.png)

[2017-03-18 06:14] chiarnglin opened #810 "As a user, I want to see a ranking of players who have played the most games on a particular hero."
As an SK player, I'm just curious how many players have played more SK games than I have. I think it would be fun to have a ranking of number of games played, by hero.

We could add a tab to https://www.opendota.com/heroes/16, where you can select between the current "rankings by score", and an additional "rankings by games played".

Acceptance criteria:
User goes to hero page. Selects a tab "rank

[2017-03-18 06:20] howardchung commented on #810
We could do this if it's quarterly like hero rankings currently are.  We'd just keep another zset that counts matches played.  The only concern is that rankings currently take up a lot of Redis space, and keeping track of a count would double it.

[2017-03-18 09:10] chiarnglin commented on #810
I haven't looked into how the current "rankings by score" is stored, but for all-time games played, the top 100 for each hero probably doesn't change that often. You can likely just store the top X number, then have a manual update button similar to the "profile refresh" or "match parse" functionality for players who want to see themselves on the leaderboards.

Separately, you could then more freq

[2017-03-18 09:52] RoyalBingBong opened #811 "Alternative, brighter theme"
Would be great if there was an option to switch to an alternaive theme. For me, bright text on a dark background is rather annoying to read, because my eyes are strained way more and thus after a while, my vision gets a bit blurry and it is harder to focus on the text. This does not happen on sites that have dark text on a bright background.
And according to this older [short blog entry](https://b

[2017-03-18 15:58] howardchung commented on #811
@blukai @masad-frost opinions?

My main concern with having multiple themes is that it costs additional time due to the need to make sure new things look OK in both themes.

[2017-03-18 16:04] howardchung commented on #810
The problem is that if we want to do all time, it's a pretty expensive operation to iterate over the 1.3 billion already played matches to find the counts.

If it's opt-in (the user has to do some action to show up on the leaderboard) then it's likely that many top players won't show up at all.

[2017-03-18 21:38] chiarnglin commented on #810
Do you already have the "matches played" cached somewhere? You could just iterate over the player base once, and that gives you say, the top 150 most-played rankings for all the heroes. That solves the problem of top players not showing up.
![image](https://cloud.githubusercontent.com/assets/4613820/24076184/cd554264-0be7-11e7-9d56-42fed8daea49.png)

After performing the indexing once, I'm then su

[2017-03-18 21:53] howardchung commented on #810
The hero counts aren't cached at the moment, Cassandra gets read on every request (though it's faster than iterating over every match).

I think there are something like 7 million players in the database, so we'd still have to make a request for each of them.  If we request at around 10 reqs/sec we could finish the indexing in about 10 days?  There might be some performance degradation during this

[2017-03-19 14:00] masad-frost commented on #811
I agree, I'm usually against 2 different themes, as you said it will slow us down, although should be easier with the color model we're using (using a shared palette). The other problem is branding, the site should be recognizable at a glance, and represent our colors. So I'd rather completely change the design if this is something we're diving into.

[2017-03-19 22:46] chiarnglin commented on #810
What if the service only indexes players when db selects for matches played are being done already?

This would eliminate the need to iterate through 7 million players at once, since a large number of those probably aren't logging in every day and checking their matches-played list. The full-indexing would be spread out over time, thereby reducing the immediate performance impact.

The data incons

[2017-03-20 05:55] howardchung commented on #810
That might work, we could maybe add a separate call to add data to redis whenever a heroes page is requested (the API gets called on the overview load as well)

Then add another endpoint to read the data, maybe we can do that and then inspect the data to see if it looks ok before adding the table to the UI to display it.

[2017-03-20 06:36] chiarnglin commented on #810
That sounds like a good idea! Take a look at the data first, then see how much of it actually makes sense to display as a ranking.

In terms of the issues backlog, what can I do to help this become prioritized?

[2017-03-20 08:13] TrentBartlem opened #816 "Story should note which tower dies"
The story below is nice, but it lacks context. Being able to tell _which_ towers are being pushed would be really helpful to determine who is pushing which lanes

<img width="462" alt="screen shot 2017-03-20 at 6 10 38 pm" src="https://cloud.githubusercontent.com/assets/171650/24092218/9aa38670-0d98-11e7-9391-6f141ff5ad62.png">

[2017-03-20 16:33] howardchung commented on #816
@mdiller is this possible?  I know the specific tower isn't available in the objectives log, but maybe tower kills could be added to kills_log for each player (this would not include towers killed by lane creeps though)

[2017-03-20 18:51] mdiller commented on #816
Yeah if it was added to kills_log it'd be possible, but since it's common for towers to be killed by lane creeps, it would be more useful if we could figure out which towers those are as well.

[2017-03-20 20:35] Gilbert32 opened #820 "Story makes mistakes?"
![image](https://cloud.githubusercontent.com/assets/5330965/24120406/3775eb5e-0dbd-11e7-83ab-79b2638371ef.png)
As you can see in this image, radiant killed kunkka and his team. After the fight, kunkka?!? denied a radiant tower?!?
Story says that kunkka who was on dire, denied a radiant tower, which seems illogical.
match id: 3067451418

[2017-03-21 02:37] #820 closed

[2017-03-21 02:46] howardchung commented on #810
Fastest would be to implement it yourself (I can help you get started).

Otherwise, will need to wait until I have some free time (maybe this weekend?)

[2017-03-21 03:05] nNnFEARbr commented on #790
Thank you, man, that might work.

[2017-03-21 03:07] #790 closed

[2017-03-21 06:08] chiarnglin commented on #810
I'm a really terrible developer (so it's definitely not going to be fast), but I think this would be a good learning opportunity. Where do I start? Maybe you could help me break down what functionality I need to add to where.

[2017-03-21 06:14] howardchung commented on #810
You'll want to clone the odota/core project and then get it running.

The following function should be modified to make a redis call to save the count of times played for each hero: https://github.com/odota/core/blob/master/routes/spec.js#L1425
  * Do this right before the res.json() call which returns the data.
  * You'll want to use a redis zset to store the data (see the ZADD documentation: htt

[2017-03-22 14:55] noonefriends opened #828 "I wanna get the "veryfied" 187758589 the numbers or profile, played a lot in pro teams"

[2017-03-22 23:57] Crazy3lf opened #829 "Look like the 'Benchmark' is not working properly"
It is all showing 0.00%.
Screenshot from [this match](https://www.opendota.com/matches/3071534823/benchmarks)
![image](https://cloud.githubusercontent.com/assets/6470547/24225972/950b0f1e-0f9e-11e7-98af-fa427d35ae0f.png)

[2017-03-23 01:17] beatyt opened #830 "Tab bar links javascript error"
OS: Windows 10
Screen resolution: 1920x1200
Browser: Google Chrome Version 58.0.3029.33 beta (64-bit)
Link: https://www.opendota.com/matches/3069944556/story

When clicking on one of the links in the tab bar I get:

Edit: It happens if I click 'Story' and then try to navigate to something else.

[code]

[2017-03-23 02:20] howardchung commented on #829
This can happen if the steam API is down for a while.  The old benchmark data expires and there's no new data coming in so it shows 0.  It should automatically recover when the steam API is back up.

[2017-03-23 02:20] #829 closed

[2017-03-23 02:22] Akkaren opened #831 "Support stats"
As a support player I would like to see some more stats on games like:
* "Ability healing"
* "Item healing"
* If possible; "saved teammates" (was a quest in some of the compendia: prevent friendly heroes from death by last-second-healing or grave or astral prison or similar abilities)
* If possible; some indicator for harassing enemy
* If possible; some indicator for ganking

 (Besides this: great

[2017-03-23 02:22] howardchung commented on #828
Hi,

The verified list is from the steam API: https://lab.xpaw.me/steam_api_documentation.html#IDOTA2Fantasy_570_GetProPlayerList_v1

I'm not sure how valve maintains this list, though.

[2017-03-23 02:22] #828 closed

[2017-03-23 02:24] howardchung commented on #830
@mdiller seems to be an exception with match story.

[code]

[2017-03-23 02:29] howardchung commented on #831
Healing: Probably possible from combat log.

Saved teammates: I remember seeing something in the combat log protobufs for this, but not sure if Valve surfaces these to the combat log in the replay.

Harassing/ganking: Need to come up with some ideas for these metrics and how to display them.

[2017-03-23 03:07] Akkaren commented on #831
Not sure what informations you can get but for harassing maybe something like a combination of hits/distance between you and enemy and (missed) lasthits/herodmg/xp of the enemy.

Ganking: Maybe appearance on another lane leads to kill/assist.

Not sure how consistent this would be...

[2017-03-23 04:02] #830 closed

[2017-03-23 06:57] Terpcasl opened #833 "Failure to load story tab on ticketed match, resulting in all tabs failing to load"
- **OS**: Windows
- **Screen Resolution**: 1920/1080
- **Browser/Version**: Chrome
- **Link to page with the issue, or screenshot**: https://www.opendota.com/matches/3067978105
When switching from the overview tab to any other tab, there is no problem. When trying to switch to the story tab, there is no change in the page data. Any subsequent change in tabs results in no change to page data either

[2017-03-23 07:00] howardchung commented on #833
This is the same issue as #830 , and the fix has already been committed.

I'll push it to production now

[2017-03-23 07:00] #833 closed

[2017-03-23 14:31] KryptKrisis opened #836 "Solo MMR is Wrong"
On my profile the Solo MMR is incorrect it says 2047 but is actually 2173.
These are not recent increases either as I have had that MMR for a long time now.

https://www.opendota.com/players/136526574
http://prntscr.com/enj2f5

[2017-03-23 14:33] #836 closed

[2017-03-24 05:26] MistahCheese opened #837 "Match story contains "Unrecognized Hero""
https://www.opendota.com/matches/3071310248/story

As you can see, on the first line, the match story says "First blood was drawn when Keeper of the Light killed Unrecognized Hero at 1:23." I'm fairly sure it was Slardar that died. That's the only place where the hero isn't recognized in the story, though, everywhere else it displays all the names of every hero correctly. I haven't tried to re-par

[2017-03-24 07:16] Tb0 commented on #144
Hello everyone,
I am a QA engineer Dota2 fan, and I would be happy to help you on automating End to End tests using the selenium webdriver in JS. That would be the easiest way to integrate E2E tests to the current stack of technology. Ping me if you are interested in :)

[2017-03-24 16:40] howardchung commented on #837
@mdiller possibly a problem with reading the first kill?  The log data looks fine.

[2017-03-24 21:38] gqy117 opened #838 "Player's Avatar Not Showing"
OS: Windows 10
Screen Resolution: 4k
Browser/Version: Chrome/Latest

Here is the player page:
https://www.opendota.com/players/138264280/overview

Here is the steam profile page:
http://steamcommunity.com/profiles/76561198098530008/

Cheers

[2017-03-25 01:05] kryogenic opened #840 ""Unable to parse replay" but the replay was successfully parsed"
I believe what happened here is the job progress reporting timed out cause the parsing took longer than usual. The game in question was 90 minutes long. Here's the link https://www.opendota.com/matches/3075703244/

[2017-03-25 02:59] howardchung commented on #840
This is probably a transient error.  The UI is actually making polling requests to check the state of the job, but I think if any of those encounters an error it will display the error message without affecting the actual processing of the job.

[2017-03-25 02:59] #840 closed

[2017-03-25 03:01] howardchung commented on #838
If this is you, logging out and back in again should refresh the profile image.  Otherwise, it updates periodically from the players who have finished matches recently.

[2017-03-25 03:03] #838 closed

[2017-03-25 15:11] coreymaher commented on #837
It looks like the first blood event comes at a different time than the kill event.
If you look at the log the first blood event is at 1:23 while the kill is at 1:24.

[2017-03-25 15:29] howardchung commented on #837
Instead of this line:
`player.kills_log.filter(kill => kill.time === match.objectives[fbIndex].time),`

Maybe we should just find the first kill event

[2017-03-25 18:47] mdiller commented on #837
Ok sounds good. Should I also change the way timeline finds it? I think I took how first blood was calculated from there, so it probably has a similar problem.

[2017-03-25 23:31] howardchung commented on #837
sure, that sounds good

[2017-03-26 01:04] space-funerals opened #841 "/heroes shouldn't be paginated"
If I want to find a hero's pick rate/win rate, I have to ctrl-f through 6 pages. It seems more user friendly to just have all of the data on one page.

[2017-03-26 01:11] howardchung commented on #841
The original version did this, but the tradeoff is that the header rows disappear if you scroll down too much.  If this is more acceptable than having to page, I can put it back

[2017-03-26 06:27] coreymaher opened #842 "First blood event displays incorrectly in the match log"
See: https://www.opendota.com/matches/3078359528/log
![screen shot 2017-03-26 at 2 20 54 am](https://cloud.githubusercontent.com/assets/100885/24329136/e34b83ce-11ca-11e7-9208-57de488b07f1.png)

It looks like the log logic only expects a "key" attribute for barracks kills. The "key" attribute was added to the first blood event in https://github.com/odota/core/commit/5b295c77dbd1f7ef3b276bd20430f8d

[2017-03-26 06:40] #842 closed

[2017-03-26 08:59] blukai commented on #841
Probably we can add a filter input

[2017-03-26 15:16] #802 closed

[2017-03-27 01:29] #841 closed

[2017-03-27 17:41] kxxoling opened #847 "How to localize hero name?"
I got a hero filter in [match log page](https://www.opendota.com/matches/3081663505/log), but found that all the hero names are listed in English even I set language to zh-CN:

![image](https://cloud.githubusercontent.com/assets/1227139/24369653/432835ac-1357-11e7-891d-28fab689afb9.png)

I tried to find where the heroes data stored in code, but found nothing. So what can I do to help this componen

[2017-03-28 02:27] howardchung commented on #847
This is a duplicate of #411 .  Basically we pull the data from Valve endpoints.  Some of it is available in other languages, but we currently aren't using those endpoints yet.

[2017-03-28 02:27] #847 closed

[2017-03-28 06:07] kxxoling opened #848 "Bug of player trending line."
The trending line of me looks strange, there shouldn't have 2 matches per time, it must be a bug of the tied line.

![image](https://cloud.githubusercontent.com/assets/1227139/24390991/e9f90bb0-13be-11e7-8a26-aab17b29b1cb.png)

- **OS**: macOS
- **Browser/Version**: Chrome 57
- **Link to page with the issue, or screenshot**: https://www.opendota.com/players/121230511/trends/loss

[2017-03-28 06:23] #848 closed

[2017-03-28 06:24] howardchung commented on #848
the c3 spline graph implementation seems to be a bit buggy.  Switched to line graph (straight lines)

[2017-03-28 12:16] previsualconsent opened #849 "Trends should be averaged per week/month/patch/moving mean"
Instead of showing how the average changes with more games which just has winrate converge on 50% usually, it would be nice to see the actual trend.

For example: if you want a trend of GPM, you would average gpm of all matches in a time window.
For ease of coding, you could even just average 10-20 consecutive games regardless of match time.

This way one could tell how much their _data_ has fluct

[2017-03-29 02:25] howardchung commented on #849
Could try it out and see how it looks.  I'm worried that the "buckets" of 10 matches will be affected by outliers.

[2017-03-29 02:55] previsualconsent commented on #849
Could put error bars on it.

On Tue, Mar 28, 2017, 21:25 Howard Chung <notifications@github.com> wrote:

[2017-03-30 05:22] howardchung commented on #453
Note: I undid this change since I enabled force HTTPS on cloudflare.

@OpenDotaUser does this prevent you from using the site completely?

[2017-03-30 05:40] #837 closed

[2017-04-01 12:28] howardchung opened #857 "show randomed/repicked/predicted victory"
Added as a player_match level field in https://github.com/odota/core/pull/1433

[2017-04-02 01:51] howardchung commented on #145
@covertPZ any progress on this?

[2017-04-04 07:06] howardchung opened #862 "use new /recentMatches endpoint to load player's last 20 matches"
This endpoint does not support filtering and returns the last 20 matches played by the user, regardless of significance (includes ARDM, AD, etc.)  It only reads 20 rows from Cassandra (instead of all of them and then processing in JS, so it's significantly faster).

TTFB times dropped from 495ms to 60ms on a quick test.

[2017-04-04 12:45] neverperfect opened #863 "Adding date as feature on table"
For a project I'm currently working which is about prediction of upcoming leagues I need data of the dates of each matches, is there a way to show "dates" column on the table?
Or if it's not currently implemented, is it possible to realize this.
Thanks in advance. =)

[2017-04-04 16:33] howardchung commented on #863
Is this for the explorer?  I can add it as a column in the preconstructed  query.

[2017-04-05 00:12] covertPZ commented on #145
I haven't gotten around to working on any of this yet. I guess before I do, we should resolve the question you posed in #861 about how we want to define for consistency.

[2017-04-05 04:56] howardchung commented on #405
Requires a backend change to supply this data at player_matches/player_caches level

[2017-04-05 04:57] howardchung commented on #97
The peers one is probably easier to do, so we should probably start there.

[2017-04-05 13:47] neverperfect commented on #863
Yes, I meant for the explorer. Please do add it when you can.
Thank you so much :)

[2017-04-05 14:43] neverperfect opened #865 ""Teams" column displaying current player's team, not the match's team"
adding "teams"/"teams.name" syntax as one of the column on the script would bring out the current player's team not the team which the player played as during that match.
For example if I would call out KuroKy's past match data, he would still be counted as playing as Team Liquid on The International 2014, even though he played as Na'vi during the time.

[2017-04-05 16:11] howardchung commented on #865
Right now we use the current team-player link, since I think it's more likely that users are interested in checking data for the current team (e.g. running a query filtered with Alliance returns data for matches that the current roster has played).

 What's the use case for using the "team at the time of the match"?

[2017-04-05 16:26] howardchung commented on #863
Do you need the start_time for each match, or are you interested in the min/max start_time for a league?

[2017-04-06 02:22] neverperfect commented on #863
Basically the day of each matches, when they were played.

[2017-04-06 02:38] neverperfect commented on #865
So if I wanted to call the time Pajkatt was playing as Alliance is it possible?
When I tried searching for player: Pajkatt, and team: Alliance, it returned zero results.

[2017-04-06 02:42] howardchung commented on #865
I think there'll need to be two distinct fields, one for "current team" and one for "team at time of match"

[2017-04-06 02:43] howardchung commented on #863
http://hchung.westus.cloudapp.azure.com:8080/explorer?

does this look ok?  or would you prefer all numbers, instead of using text for the month

[2017-04-06 05:14] neverperfect commented on #865
I see.. As for now is there a query on the SQL to call current team?
Or it hasn't been implemented yet?

[2017-04-06 05:24] howardchung commented on #865
Sure, you can join match with team_match then filter by team_id

[2017-04-06 06:26] neverperfect commented on #865
Sorry, how can I do this? I don't find team_match as one of the query on the drop down query..
Do you mind if you can explain me in detail or step-by-step of it? XD

[2017-04-06 07:05] howardchung commented on #865
Do you mind if you can explain me in detail or step-by-step of it? XD

Here's an example.  Na`Vi's team_id is 36, so the following query returns the match_ids of the 1236 matches they've played in:
https://www.opendota.com/explorer?sql=select%20match_id%20from%20matches%0Ajoin%20team_match%20using(match_id)%0Awhere%20team_id%20%3D%2036%0Aorder%20by%20match_id%20desc

[2017-04-06 11:21] neverperfect commented on #865
This gives me an error for some reason..
![skripsi1](https://cloud.githubusercontent.com/assets/10155244/24751952/cfce8b28-1af5-11e7-8470-21df3e1d5cc0.png)
![skripsi2](https://cloud.githubusercontent.com/assets/10155244/24751963/e3304698-1af5-11e7-964c-b9ad282dcf70.png)

[2017-04-06 16:32] howardchung commented on #865
Since you're selecting teams.name you also need `JOIN teams using(team_id)`

[2017-04-06 16:40] howardchung opened #867 "Allow single selection on vision"
Allow single click to select only one on vision page.

Maybe we can implement this just by deselecting all of the boxes within a team when the box in the corner is checked.  Then it's three clicks, one to deselect everything, and then one more click to turn on just one user's wards.

@dartharaknus ?

[2017-04-06 17:14] dartharaknus commented on #867
Sounds good.

[2017-04-07 04:25] #862 closed

[2017-04-07 04:26] howardchung commented on #863
fixed in #809

[2017-04-07 04:26] #863 closed

[2017-04-07 07:21] howardchung commented on #406
This data is available in player_caches:
https://api.opendota.com/api/players/88367253/matches?limit=20&project=lane_role&project=lane

lane_role is safe/off/mid/jungle and lane is top/mid/bot/radiantjungle/direjungle

[2017-04-07 07:23] howardchung commented on #411
merge with #338

[2017-04-07 07:23] #411 closed

[2017-04-07 07:24] howardchung commented on #338
Doing this will also enable translated data, since the client can just request data in the desired language.

[2017-04-07 07:24] howardchung commented on #278
Closing as this is very general.  Open new issues for specific deliverables.

[2017-04-07 07:24] #278 closed

[2017-04-07 07:25] howardchung commented on #203
implemented with the change to records to return top 10 matches

[2017-04-07 07:25] #203 closed

[2017-04-07 10:49] neverperfect commented on #865
I used both JOIN teams using (team_id) and JOIN team_match using (match_id) on the second SQL (second screenshot) and got errors still.. xD

Also if I use more than 1 team_id, and display the team names?
What I'm trying to accomplish is call player's team history (with the team name as one of the column)

[2017-04-07 15:52] howardchung commented on #865
This should work (EternalEnvy's match history):

https://www.opendota.com/explorer?sql=select%20matches.match_id%2C%20teams.name%0Afrom%20matches%0Ajoin%20player_matches%20using(match_id)%0Ajoin%20team_match%20using(match_id)%0Ajoin%20teams%20using(team_id)%0AWHERE%20player_matches.account_id%20%3D%2043276219%0Aorder%20by%20match_id

Not sure what you mean by more than one team_id.  Each match-pla

[2017-04-08 12:29] mike-robertson opened #869 "Clicking sort icon in mobile semi broken"
I noticed in Android Chrome at least, if you are scrolled on a table and click the sort icon, it will reset your scroll position.

[2017-04-08 15:12] neverperfect commented on #865
Oh thank you so much, that's what I need :D

[2017-04-08 17:46] howardchung commented on #865
[code]

Couple of issues with your query:
* The last column name in the SELECT should not have a comma
* Removed notable_players since you don't need it, and it was creating a second column called team_id.  using() is shorthand for `ON teams.team_id = team_match.team_id` so when there are multiple columns called team_id postgres gets confused
* Removed the "left" from your query.

It's LEFT JOIN,

[2017-04-09 05:31] Cossack13 opened #877 ""KLA" -> "KDA" on /players/***/trends/kda"
![default](https://cloud.githubusercontent.com/assets/16056285/24835054/5cb434f8-1d20-11e7-93d4-b03433fca24d.PNG)

[2017-04-09 05:38] howardchung commented on #877
This isn't a typo, KLA is a distinct stat from KDA.  It's (K+A)/(D+1) rather than (K+A)/MAX(D, 1)

[2017-04-09 05:38] #877 closed

[2017-04-09 05:44] neverperfect commented on #865
Thanks so much, you saved me from weeks of data mining XD
All the best for OpenDota's Data Explorer Project!

[2017-04-09 06:03] howardchung commented on #865
You can leave the issue open, I should add field selectors for both current and historic teams.

[2017-04-11 11:13] BjornArnelid opened #880 "OpenDota API not concistent with documentation for GET /players/{account_id}/matches"
The expected array "heroes" is missing from the result.

[2017-04-11 15:52] Cliff-Chua opened #881 "Unable to see MMR Graph"
Hi,

I am unable to see my MMR graph as attached from the image. I am using google chrome and windows 10 64-bit.

![image](https://cloud.githubusercontent.com/assets/27294184/24918111/c2a2f73e-1f11-11e7-9d90-45e42cec97b1.png)

[2017-04-11 16:04] coreymaher commented on #881
@Cliff-Chua You have to add your Solo and/or Party MMR to your in game profile and then play ranked games for it to show up here.

[2017-04-11 16:31] howardchung commented on #880
You can request it by passing the `&project=heroes` in the URL.  It's not one of the default fields though so maybe we should remove it.  You can request any field that's in the schema, the defaults only return a core subset of about 10 fields for efficiency.

[2017-04-11 18:38] BjornArnelid commented on #880
hmm, i get {"error":"Not Found"} if i add that to my query?

[2017-04-11 18:48] howardchung commented on #880
What's the full URL you're trying?

[2017-04-11 20:18] BjornArnelid commented on #880
https://api.opendota.com/api/players/75579712/matches&project=player

[2017-04-11 20:21] BjornArnelid commented on #880
https://api.opendota.com/api/players/75579712/matches?project=heroes works.

[2017-04-11 20:22] howardchung commented on #880
Use ? instead of &.  Ampersand if you need to add any additional query params.

[2017-04-12 06:47] BjornArnelid commented on #880
I figured it out eventually.
But to get back to the actual bug, i really do think that the response sample should sync with the example query in your documentation.

[2017-04-12 16:01] howardchung commented on #881
@coreymaher is correct, please reopen/comment if you have any additional issues getting the MMR data to show up.

[2017-04-12 16:01] #881 closed

[2017-04-12 16:04] howardchung commented on #880
I added a note that this field requires `?project=heroes`:
https://github.com/odota/core/commit/43fb9c9797028182034a5acedbfd787d86c5ceb8

[2017-04-12 16:04] #880 closed

[2017-04-13 02:00] howardchung opened #886 "Insert time markers at intervals in story"
We should put in something like a subheading and maybe an `hr` element at intervals in the story (maybe every 10 minutes?)

This will help with linking story events to specific match times, since most story events right now don't have the time context (besides the laning summary and the first item over 4000 events).

@mdiller ?

[2017-04-13 02:17] albertcui opened #887 "MMR bot detection and rampages"
Posting from reddit message:

[2017-04-13 02:26] howardchung commented on #887
@Crazy-Duck has done some work on identifying matches with anomalous stat counts, and we could probably reuse some of it in odota/core to find these matches.

Counting rampages:
We have the data already in player_caches, so would just be a matter of summing them up and displaying (maybe in the Counts tab).  Sample API call:
https://api.opendota.com/api/players/88367253/matches?project=multi_kills&

[2017-04-13 06:03] Crazy-Duck commented on #887
The approach I used was one based on anomaly detection. Basically I identified a few parameters that were decently Gaussian in nature (with limited skew) and searched for outliers via machine learning. Based on that data it was very easy to obtain a set of matches that contained abuse like:
- battle pass exploitation
- MMR boosting
- ...
This approach still had a very low false positive rate (typi

[2017-04-15 01:59] howardchung opened #892 "display win/loss with player for logged in users"
On player profiles, make a call to `/api/players/{currently logged in user}/wl?included_account_id={viewed profile}`.

Count the win/loss for the currently logged in user and display on the profile.

Requested feature from Discord

[2017-04-15 02:05] #867 closed

[2017-04-15 02:06] #857 closed

[2017-04-15 06:15] howardchung commented on #759
This should be pretty easy

[2017-04-15 06:16] howardchung commented on #751
Guessing this is a no?  Feel free to submit the pull request anyway so we have a record of the code if we decide we want this later.

[2017-04-15 06:17] #751 closed

[2017-04-15 06:19] howardchung commented on #704
Think this is a temporary issue since event matches don't always happen and they don't always spam the match history.  We can reopen/revisit if it becomes a problem again.

[2017-04-15 06:19] #704 closed

[2017-04-15 06:20] howardchung commented on #614
What page is this for?  match vision tab?

[2017-04-15 06:22] howardchung commented on #564
Might be worth adding a new endpoint/tab called "totals" that sums up data for a bunch of fields and presents them separately, e.g.
`Player X has last hit 110,234 creeps in their career`

[2017-04-15 06:25] howardchung commented on #406
Also pretty easy if someone wants to take a crack at this

[2017-04-15 06:28] #886 closed

[2017-04-15 12:35] dartharaknus commented on #614
Yes.

[2017-04-15 20:40] #97 closed

[2017-04-15 20:42] howardchung opened #895 "monthly records page"
https://github.com/odota/core/pull/1439 adds support for showing the top matches in a bunch of fields.

Create a page showing these records

[2017-04-16 10:52] Totyano opened #896 "there is no data about me at all"
hi
![image](https://cloud.githubusercontent.com/assets/27620441/25070631/3760cda6-22ac-11e7-9aa9-2a9c3410f1a0.png)

i have an issue, when i login to my page in this ste i see no data or statistics at all, its all zeroes or "null"> please fix my problem ty.

[2017-04-16 11:26] Luchanso commented on #896
I think it's because your profile is private.

[2017-04-16 15:43] Cliff-Chua commented on #881
Thank you all so much for the info!

[2017-04-16 17:38] howardchung commented on #896
Yeah, enable "Expose Public Match Data" in the client and then click the "refresh" button to have it fetch your previous matches.

[2017-04-16 17:48] #896 closed

[2017-04-16 21:36] #892 closed

[2017-04-17 01:57] howardchung opened #899 "sort search results by last match time (and display it)"
Added this data in https://github.com/odota/core/pull/1441

Should make search results more useful

[2017-04-17 02:08] howardchung commented on #564
implemented in #893

[2017-04-17 02:08] #564 closed

[2017-04-17 02:43] howardchung opened #900 "abandoned indicator"
Show on match pages when a player has abandoned.

[2017-04-17 02:44] howardchung opened #901 ""intro" line for match stories"
Lead into the story with a line like:
`On {date}, two teams decided to play a {game mode} game of Dota 2 in {region}`

[2017-04-17 12:36] noonefriends opened #903 "verified"
can i get a verified , played in alot of good team x vs like spirit empire etc players/187758589 acc ty

[2017-04-17 13:17] Luchanso commented on #903
Hi, @noonefriends

Verified status takes from the steam API: https://lab.xpaw.me/steam_api_documentation.html#IDOTA2Fantasy_570_GetProPlayerList_v1

[2017-04-17 13:19] Luchanso commented on #903
Duplicate #828

[2017-04-18 05:40] #903 closed

[2017-04-18 05:41] howardchung commented on #903
It's possible to start maintaining our own list in addition to what the API gives us, but we need to set up some way to validate that a requester does indeed own a particular Steam account.

[2017-04-20 06:48] howardchung commented on #756
Switched to serving the page out of https://www.netlify.com/ rather than GitHub pages.  They have an option to return a 200 with index.html rather than relying on the 404 hack, so this issue should be resolved :)

[2017-04-20 06:48] #756 closed

[2017-04-20 07:49] eugeneong1 opened #908 "MMR AND DOTA 2 RECENT GAMES NOT R"
![untitled](https://cloud.githubusercontent.com/assets/27804277/25219402/f81e4604-25e0-11e7-915d-04fce362e606.png)

[2017-04-20 07:55] howardchung commented on #908
Did you disable the Expose Public Match Data setting?

[2017-04-20 08:14] howardchung opened #909 "Border/drop shadow on Container element"
Suggestion:

Perhaps we should try having the Container element (which we use quite a bit) give the enclosed elements a border and a drop shadow to make them stand out more.  The result I'm envisioning would look kind of  like Material Cards:
http://www.material-ui.com/#/components/card

@blukai

[2017-04-20 22:42] blukai opened #910 "Heroes on buildings map"
Display hero positions (lanes) on buildings map, also probably if it's possible - heat-map from the performances page on icon hover.

[2017-04-21 03:07] howardchung commented on #910
I think we have the data for both of these already, so it's definitely possible!

[2017-04-21 03:10] #900 closed

[2017-04-21 09:42] evaryont opened #911 "New story line: Who predicted they would win the game?"
@howardchung mentioned in the discord chat that the replays do include "player has predicted!" data. It'd be neat to see that added to the story view as well.

Not sure if it's parsed and available in the JSON yet.

Would be super cool if streak data was available too. But that's not important. Not sure how universal it is, since charms don't really have a "streak" per se.

Would also be amusing t

[2017-04-21 09:43] howardchung commented on #911
@mdiller

[2017-04-22 06:38] #895 closed

[2017-04-22 06:38] #899 closed

[2017-04-22 12:32] cybercrypt opened #913 "My stats arent being listed"
![screenshot 36](https://cloud.githubusercontent.com/assets/25293582/25304483/c6e54faa-2785-11e7-8d49-4d893a9c2d52.png)
I have over 700 games played.

[2017-04-22 12:37] Luchanso commented on #913
Maybe your profile is private?

[2017-04-22 12:42] cybercrypt commented on #913
![screenshot 37](https://cloud.githubusercontent.com/assets/25293582/25304559/2751aaea-2787-11e7-93b2-82e3b652401f.png)
It's set to public

[2017-04-22 12:45] Luchanso commented on #913
This setting toggle in Dota 2

[2017-04-22 12:49] cybercrypt commented on #913
That was it. Thank you :)

[2017-04-22 12:49] #913 closed

[2017-04-22 15:30] eugeneong1 commented on #908
Ow sorry for that. It's my fault i disabled it the last time. lol thanks mate

[2017-04-22 16:28] #908 closed

[2017-04-23 07:46] #865 closed

[2017-04-23 07:47] howardchung commented on #865
I've added a new field called "organization" that does not change regardless of roster shuffles.

[2017-04-23 07:48] howardchung commented on #865
@neverperfect e.g. the following gets the matches that pajkatt played on alliance:
http://hchung.westus.cloudapp.azure.com:8080/explorer?organization=111474&player=87285329&group=&team=

[2017-04-24 07:40] maschwenk commented on #759
Something I'd be interested in picking up. This project is awesome.

[2017-04-24 16:38] howardchung commented on #759
Sure!  Clone the UI and get it running.  The API response already contains this data, so this should just be as simple as adding `(Roaming)` to the column in the performances tab if the `is_roaming` property is true.

[2017-04-24 19:03] rafd commented on #849
:+1:

I suggest using an [exponential moving mean](https://en.wikipedia.org/wiki/Exponential_smoothing).

If you approve, I can submit a PR.

Below I describe a few alternatives to showing trends in graphs. I've graphed the same data, my LH/10, which tends to vary a lot between games.  _Pay particular attention to the streak of low scoring games in the middle followed by a few big outliers._

Noti

[2017-04-24 19:14] previsualconsent commented on #849
Sure. Histograms have the benefit of selected different binning methods. You could bin by week/month/year/patch

and it has the simplicity that a user doesn't need to ask "what does this line mean?"  its just the average for that bin.

[2017-04-25 04:17] howardchung commented on #849
@rafd thanks for the detailed analysis!  Exponential moving mean sounds good to me, I'd love to see a PR.

Did you try drawing a graph for "bins" trend as well?  I guess it would be similar to the moving mean approach, but discrete rather than continuous.

[2017-04-25 04:20] howardchung commented on #849
Moving mean with a larger N (30?) might also reduce the effect of outliers while being easier for the layperson to understand.

[2017-04-25 19:16] previsualconsent commented on #849
Example of binned by 30 games

![kda_hist](https://cloud.githubusercontent.com/assets/705855/25403359/b584ce3c-29c1-11e7-8824-3f39c4e90c27.png)

[2017-04-26 17:14] Crazy-Duck opened #922 "Navigating to the wordcloud freezes the page until all words are loaded"
What the title says. It looks like it blocks until all words are loaded in the background, then renders the wordcloud in its entirety. This freeze the entire tab and renders the page unresponsive.

Expected behaviour: load the words of the wordcloud progressively, updating the UI as more are loaded in

- Win10
- 1080p
- Chrome 58.0.3029.81 (64-bit)
- [link](https://www.opendota.com/players/1614404

[2017-04-26 17:17] Crazy-Duck commented on #922
Issue seems to be linked to be linked to browser version, not reproducible on Version 57.0.2987.133

[2017-04-27 04:22] #922 closed

[2017-04-28 05:14] #901 closed

[2017-04-28 05:16] howardchung opened #923 "use new abilities/item data format in tooltips"
dotaconstants@5.0.0 has the data generated from d2vpkr and no longer has markup embedded.  Update tooltips to handle this.

[2017-04-28 15:44] sneakyimp1 opened #924 "Adjust XP totals for graph section to the new experience values."
Current behavior: Some matches show hero's never reaching level 25 in the graphs even though they have in the game. Most likely due to the recent changes to XP needed to reach a level.

https://www.opendota.com/matches/3143720104/graphs

Current experience vales to adjust to.

[2017-04-28 16:31] howardchung commented on #924
File to update:
https://github.com/odota/dotaconstants/blob/master/json/xp_level.json

[2017-04-28 18:38] sneakyimp1 commented on #924
Pull request created.

[2017-04-29 01:58] howardchung commented on #924
Thanks!

[2017-04-29 01:58] #924 closed

[2017-04-29 09:50] howardchung opened #926 "support 64-bit steam IDs in URLs"
Make ex:
https://www.opendota.com/players/76561198073239156

resolve to:
https://www.opendota.com/players/112973428

[2017-04-29 20:14] #923 closed

[2017-05-05 06:59] alexalperov opened #939 "Data Features"
I am trying to do some predictive data analysis, but I can't find a dataset with all of the information I want. Some of the variables I haven't seen in a comprehensive data file, but would like to see:

Enemy Heroes
Allied Heroes
Any kind of chronology of item purchases
MMR
Win/Loss

Are these available in any single datadump? If not, do I have any options for parsing this data on my own?

[2017-05-05 08:09] howardchung commented on #939
https://blog.opendota.com/2017/03/24/datadump2/

That'll have heroes, item logs for some matches, and win/loss.

[2017-05-05 10:39] kahko opened #940 "Trends averages bug"
Divisor number is counted wrong. Looks like matches where data was not found are included to averages.

Check [my tp purchases page](https://www.opendota.com/players/16934063/trends/purchase_tpscroll) where divisor count begins at 102, resulting 0.08 avg tps bought per game after first game in the graph.

[2017-05-06 02:55] #940 closed

[2017-05-06 02:55] howardchung commented on #940
Thanks for the bug report!

[2017-05-08 01:54] #926 closed

[2017-05-09 06:37] victorshao commented on #406
Hi, prospective contributor here. I could get the lane information to show on the matches page, but not the overview. I'm not sure there's an easy way to do it since the recentMatches endpoint doesn't seem to provide lane information. Is that ok?

[2017-05-09 13:20] dartharaknus commented on #911
👍

[2017-05-09 13:26] howardchung commented on #406
Think it just needs to be added to the database query:
https://github.com/odota/core/blob/master/routes/spec.js#L1204

On May 9, 2017 2:37 AM, "Victor Shao" <notifications@github.com> wrote:

[2017-05-09 16:25] neverperfect opened #951 "Name of opponent team as table"
Is there a query to add opponent (team) of which a team/player is playing against in the explorer?

[2017-05-09 17:18] howardchung commented on #951
You mean as a filter or in the output table?

[2017-05-11 14:01] sjaiuf opened #952 "Match parse bug"
https://www.opendota.com/matches/3171489726 profile
Match id: 3171489726

`No hero
Radiant
3171489726
/
No Result
Very High Skill
48 years ago
`

[2017-05-12 13:36] vaibhav-y opened #953 "Show player trends averaged over last 20 games instead of computing global averages"
I have opened a similar issue in odota/core as I was unsure which repository held logic for computing trends.

I recently began climbing ranked MMR and tried to use the trends page to gather some correlation between things I did in the last 20 games that may have lead to victory. My userpage (https://www.opendota.com/players/172152956/) shows point values for my averages, best, worst in the last 2

[2017-05-13 16:10] samwhite commented on #910
I've started working on this one - will hopefully keep you posted / open a PR soon!

<img width="312" alt="screen shot 2017-05-13 at 17 09 32" src="https://cloud.githubusercontent.com/assets/5761771/26027069/fcb126ac-37fe-11e7-8cf3-71a694f4299c.png">

[2017-05-14 08:32] howardchung commented on #910
Awesome, thanks!

[2017-05-14 08:39] howardchung commented on #952
The issue should be mitigated.  Fix should come in the patch for https://github.com/odota/core/issues/1460

[2017-05-14 08:39] #952 closed

[2017-05-14 18:01] howardchung opened #956 "add lane/legs data to explorer tables"

[2017-05-15 03:08] #911 closed

[2017-05-15 03:12] #437 closed

[2017-05-15 04:51] #759 closed

[2017-05-15 04:53] howardchung commented on #953
Closing as a duplicate, but I agree and think this would be a good change to make to trends.

[2017-05-15 04:53] #953 closed

[2017-05-15 04:54] #939 closed

[2017-05-15 09:55] hfagard opened #958 "WK reincarnation ult is reported as deaths on combat / story / teamfights"
For example in match 3179675740 I went 16-3-21. But in the combat log it shows 16-12, the 9 reincarnations should not be counted as deaths as a WK player knows dying has little consequences and does it on purpose in a fight. I think it would reflect my performance better if these reincarnations were not reports as death.

In the story (a feature which I love) it would be cool though to indicate if

[2017-05-15 15:51] howardchung commented on #958
This is due to https://github.com/odota/core/issues/726 and doesn't have a fix yet.  The combat log doesn't indicate whether a unit died with WK ult/aegis.

[2017-05-16 03:00] howardchung commented on #956
This is technically a core issue since we need to make backend changes, but I'll leave it here since we'll need to add form fields to the explorer anyway.

[2017-05-16 05:16] neverperfect commented on #951
As an output table, so it shows up when saved as a CSV file

[2017-05-16 20:02] loganogden opened #960 "Consider moving location of 'Logout' button"
This would be hugely appreciated from a UX standpoint. The user page and logout options are so close to one another that I find myself logging out unintentionally from time to time. Nesting it in the gear icon would be a nice, simple way to handle this.

For as little as I imagine people use it the Logout button, it's too easy to hit by mistake.

[2017-05-17 07:17] howardchung commented on #960
Sure, I think we can do this.

@mike-robertson @blukai for input

[2017-05-17 11:41] greenkeeper[bot] opened #961 "An in-range update of redux-logger is breaking the build 🚨"
## Version **3.0.2** of [redux-logger](https://github.com/theaqua/redux-logger) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/odota/ui/compare/greenkeeper%2Fredux-logger-3.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      redux-logger
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-18 02:56] xiaohangJose opened #962 "hello i want to translate this website to chinese ,,but there is something wrong"
just like this word
HERO-PLAYER
I don't know where this word is.
I try to understand this word but there is no explain at https://translate.opendota.com/translate/yasp/6/en-zhcn  。。
so i can't translate until you provide these word's explation

[2017-05-18 03:03] howardchung commented on #962
This is in the select menu at https://www.opendota.com/explorer

It refers to a hero-player combination (like AdmiralBulldog + Nature's Prophet)

[2017-05-18 03:04] #961 closed

[2017-05-19 04:43] #962 closed

[2017-05-20 22:07] howardchung commented on #951
You could do this with a query like:
https://www.opendota.com/explorer?sql=SELECT%0Amatches.match_id%2C%0Amatches.start_time%2C%0A((player_matches.player_slot%20%3C%20128)%20%3D%20matches.radiant_win)%20win%2C%0Aplayer_matches.hero_id%2C%0Aplayer_matches.account_id%2C%0Aleagues.name%20leaguename%2C%0Acase%20when%20(player_slot%20%3C%20128)%20then%20dire_team_id%20else%20radiant_team_id%20end%20opp

[2017-05-21 11:16] neverperfect commented on #951
I tried using query attached below, with the intent of getting player's team he is playing at the time, not current team he is in.. But it gives me an error.
Help me please, thanks.
![image](https://cloud.githubusercontent.com/assets/10155244/26283356/21ae7952-3e51-11e7-9154-20db76128f77.png)

[2017-05-21 14:13] Polygonalr opened #967 "Arc Warden's Tempest Double icon is outdated"
Applies when you look at any Arc Warden's skillbuild.
![untitled](https://cloud.githubusercontent.com/assets/16399656/26284630/a31afe9a-3e72-11e7-87c4-7daacbbaec52.png)

[2017-05-21 18:38] howardchung commented on #951
Can you provide the query text or a link?

[2017-05-21 18:41] howardchung commented on #967
What's wrong with it?  Looks like the same one as used here:
http://dota2.gamepedia.com/Arc_Warden

[2017-05-22 03:32] victorshao commented on #406
How's this?

![image](https://cloud.githubusercontent.com/assets/6968694/26291579/3f85a226-3e7d-11e7-8872-b1ee81f03cef.png)

Featuring bug where '>' gets cut off when the hero is Legion Commander

[2017-05-22 03:45] howardchung commented on #406
Maybe separate the sections with `/` like the mode/lobby.

Not sure about the cutoff, probably just needs a style tweak @blukai

[2017-05-22 10:39] neverperfect commented on #951
Here you go,
https://www.opendota.com/explorer?sql=select%20%0Aplayer_matches.account_id%2C%0Amatches.match_id%2C%0Amatches.start_time%2C%0A((player_matches.player_slot%20%3C%20128)%20%3D%20matches.radiant_win)%20win%2C%0Akills%2Cdeaths%2Cassists%2C%0Axp_per_min%2Cgold_per_min%2C%0Aplayer_matches.hero_id%2C%0Aleagues.name%20leaguename%2C%0Ateams.name%2C%0Acase%20when%20(player_slot%20%3C%20128)%20

[2017-05-22 16:32] howardchung commented on #951
Try this:
https://www.opendota.com/explorer?sql=select%20%0Aplayer_matches.account_id%2C%0Amatches.match_id%2C%0Amatches.start_time%2C%0A((player_matches.player_slot%20%3C%20128)%20%3D%20matches.radiant_win)%20win%2C%0Akills%2Cdeaths%2Cassists%2C%0Axp_per_min%2Cgold_per_min%2C%0Aplayer_matches.hero_id%2C%0Aleagues.name%20leaguename%2C%0Ateams.name%20opposing_team%0Afrom%20matches%0Ajoin%20match_pa

[2017-05-22 21:22] Ricardo-Silva91 commented on #960
Hello, i made a pull request with a proposed solution for this issue, #970

If anything needs to be corrected/changed please advise.

[2017-05-23 04:40] victorshao commented on #406
I overlooked roamers, so that's in now. @howardchung could I trouble you again to update the recentMatches database query to include the is_roaming field?

![image](https://cloud.githubusercontent.com/assets/6968694/26338647/b4c9dcdc-3f4f-11e7-85a8-5bed5b1a51ad.png)

[2017-05-23 04:59] neverperfect commented on #951
If I want to have y's team (as of match) next to the opposing_team id table, is it possible?

[2017-05-23 06:14] howardchung commented on #951
Yes just add another column to the select and invert the logic for choosing the team to show.

[2017-05-23 06:54] howardchung commented on #406
added: https://github.com/odota/core/commit/2f96ccf9f8aa913a713c082ab7499272bb5d0c3a

[2017-05-23 14:23] neverperfect commented on #951
I'm sorry, how do I do that?

[2017-05-23 16:33] howardchung commented on #951
https://www.opendota.com/explorer?sql=select%20%0Aplayer_matches.account_id%2C%0Amatches.match_id%2C%0Amatches.start_time%2C%0A((player_matches.player_slot%20%3C%20128)%20%3D%20matches.radiant_win)%20win%2C%0Akills%2Cdeaths%2Cassists%2C%0Axp_per_min%2Cgold_per_min%2C%0Aplayer_matches.hero_id%2C%0Aleagues.name%20leaguename%2C%0Ateams.name%20opposing_team%2C%0At2.name%20team%0Afrom%20matches%0Ajoin%

[2017-05-27 16:20] howardchung opened #973 "add "abort request" to explorer"
Allow cancelling requests (typically for queries that the user realizes will take too long)

[2017-05-27 22:18] frozenspider opened #974 "Match analysis shouldn't count some items as unused"
The following cases probably shouldn't be accounted as "unused items":
* Any item that was in inventory less than a minute, especially those purchased right before the game end
  * Example: https://www.opendota.com/matches/3208159551/analysis - I as Phoenix purchased Glimmer, disassembled it and sold immediately, but it was counted as 2 unused items
* Quelling blade
* RoB/Aquila (might be purchase

[2017-05-27 22:23] frozenspider commented on #974
Sorry, moved to `core` repo: https://github.com/odota/core/issues/1469

[2017-05-28 00:58] #406 closed

[2017-05-28 00:58] #960 closed

[2017-05-28 07:05] #849 closed

[2017-05-28 17:31] e314 opened #975 ""Wards placed" counter only counts when you placed your last ward"
On the "Vision" tab

For example : https://www.opendota.com/matches/3209899070/vision
For both normal wards and sentries, the "Use" part of the chart is messed up.
Since smoke is often used from the courier, I can't tell if there's a problem with it aswell, and Dust counter seems to be fine

On the other hand, the log under is correct.

[2017-05-28 17:35] howardchung commented on #975
@dartharaknus

Yeah, I think we need to switching to counting the log for obs/sentry use because of the ward_dispenser item.

About smoke on couriers I'm not sure if it counts as the using player or the courier.

[2017-05-29 11:20] Prosta-piet opened #977 "Failing to parse?"
Not sure what is wrong, but despite logging in and checking on multiple systems, I can't get my games to parse...

![image](https://cloud.githubusercontent.com/assets/29040248/26547879/74b68ccc-4471-11e7-9acc-e857a3e8a71d.png)

Thanks for any assitance

[2017-05-29 19:19] howardchung commented on #977
Need some additional information, like the match_id you're trying to parse?

[2017-05-29 20:48] Prosta-piet commented on #977
Hey sorry,

It's all of my recent games, since I checked in again recently. My user
name is [CBK]Prosta-Piet, profile link
https://www.opendota.com/players/170339884,

Some of the match id's are 3208220419, 3208293690, 3204005993.

Thanks, cheers

On Mon, 29 May 2017 at 21:19 Howard Chung <notifications@github.com> wrote:

[2017-05-29 21:12] howardchung commented on #977
It looks like Valve's missing the replays for these matches:
http://replay214.valve.net/570/3208220419_490665718.dem.bz2
http://replay214.valve.net/570/3208293690_1353487025.dem.bz2
http://replay214.valve.net/570/3204005993_2100646515.dem.bz2

Unfortunately there's not a lot I can do about this.  I've seen some Reddit threads with people describing this issue, so hopefully Valve will fix it soon.

[2017-05-29 22:31] #977 closed

[2017-05-29 22:31] #951 closed

[2017-05-29 23:01] howardchung opened #978 "Add Timeline component to graphs tab"
requested feature

Shouldn't be too hard

[2017-06-01 03:18] #978 closed

[2017-06-02 05:34] howardchung opened #984 "allow multiple selects/wheres on explorer UI"
* projection of multiple columns (e.g. select kills, deaths, assists)
* multiple where queries with OR (e.g. select * from two leagues)

[2017-06-02 05:36] howardchung opened #985 "Additional explorer data"
* mega creep wins query (matches table only)
* gold/kill differential
* num roshans killed?
* item build rates?
* AEGIS_STOLEN
* AEGIS
* DENIED_AEGIS
* FIRSTBLOOD
* PAUSED

[2017-06-02 05:37] howardchung opened #986 "split picks/bans by phase"
Provide a view that allows seeing picks/bans by phase

[2017-06-02 05:38] howardchung opened #987 "Show database schema"
Provide a link to https://github.com/odota/core/blob/master/sql/create_tables.sql

Or render a graphical representation of the schema using the data from:
https://api.opendota.com/api/schema

The first might be a stopgap measure until someone implements the second.

[2017-06-02 05:53] howardchung opened #988 "Clean up action/reducer code"
There's a significant amount of duplicated code in the actions/reducers.

We could probably reduce bundle size/verbosity by refactoring out a lot of the shared code.

In particular, if we agree to do all data manipulation in the action, we can essentially just make a single reducer for all API calls that's simply "put the passed data in the Redux store".

There's also a TODO for this in the code,

[2017-06-02 15:36] greenkeeper[bot] opened #989 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/odota/ui/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import
    </td>

[2017-06-03 06:57] #956 closed

[2017-06-03 06:58] #989 closed

[2017-06-03 09:38] howardchung opened #990 "Settings menu in mobile view has orphan icons"
In mobile view, the Report Bug and Logout icons stay in the gear menu, even though they've been moved to separate menu items in the burger menu

@recurza ?

I think we just need to suppress these lines when rendering mobile version:
https://github.com/odota/ui/blob/master/src/components/Header/Header.jsx#L99

[2017-06-03 09:40] howardchung commented on #990
Actually, we don't have a logout link in mobile at all.  Maybe we should keep the gear menu, fix whatever's causing the link/text not to show up, and remove it from the left (burger) side?

[2017-06-04 19:03] howardchung opened #993 "Missing/incorrect image key for tornado/tempest"
https://www.opendota.com/matches/3223740175/combat (see Enchantress damage dealt)

[2017-06-05 05:28] #988 closed

[2017-06-05 05:28] #990 closed

[2017-06-05 05:56] #299 closed

[2017-06-05 08:34] greenkeeper[bot] opened #998 "An in-range update of style-loader is breaking the build 🚨"
## Version **0.18.2** of [style-loader](https://github.com/webpack/style-loader) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/odota/ui/compare/greenkeeper%2Fstyle-loader-0.18.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      style-loader
    </td>
  </tr>
  <tr>
    <th align=left

[2017-06-05 09:11] #998 closed

[2017-06-05 09:57] weltensturm opened #999 "Suggestion: option to swap assists with deaths"
IMO aligning deaths in the KDA bar to the right gives a better performance overview, and it's pretty easy to do with custom page CSS. But an option to swap the position of assists with deaths generally would be nice, as the numbers wouldn't be above the correct bar element anymore.

[2017-06-06 05:22] sams-joseph commented on #993
The constant in the NPM module dotaconstants' neutral_abilities for this ability is `enraged_wildkin_tornado`. However the key returned from the Steam API is `tornado_tempest`. So you parse the img src as if it is an `ability` and not a `neutral_ability` because it fails the conditional. Renamed the constant in my local npm_modules and this solved the issue.

[2017-06-06 05:34] howardchung commented on #993
So just a quick pull request to dotaconstants to correct the string should fix this?

[2017-06-06 05:35] howardchung commented on #999
I'm fine with it either way.  Anyone else have an opinion?

@blukai
@dartharaknus

[2017-06-06 06:23] sams-joseph commented on #993
Created pull request with change.

[2017-06-06 06:28] sams-joseph opened #1001 "Missing/incorrect image key for black dragon fireball"
https://www.opendota.com/matches/3214900214/combat (see Chen damage dealt)

[2017-06-06 09:06] blukai commented on #999
Agreed with u @howardchung. In dota 2 we always see K D A exactly in this sequence and it's good enough to not change it.

[2017-06-06 16:06] sams-joseph opened #1002 "Logout menu item appears when not logged in"
Option to logout is given even though you are not logged in.
Does not show when mobile menu is displayed.

![screen shot 2017-06-06 at 12 02 25 pm](https://user-images.githubusercontent.com/17747926/26839141-23d3ab10-4ab0-11e7-85af-0467290c933e.png)

[2017-06-06 16:36] dartharaknus commented on #999
We used the view from Dota2 in-game client. If Valve are using it as default, we should do default too.

[2017-06-07 03:11] #1002 closed

[2017-06-07 03:16] howardchung commented on #1001
In addition to adding the key to dotaconstants, looks like we actually have to find and put an image in this directory:

https://github.com/odota/ui/tree/master/assets/images/dota2/neutral_abilities

[2017-06-07 06:21] howardchung commented on #144
@Tb0 would love to see E2E tests added!  @masad-frost set up an account for us on BrowserStack, let me know if you need access to that.

Also apparently Chrome 59 has a headless mode which is supposed to make CI testing easier.

[2017-06-07 08:10] howardchung commented on #993
Doesn't seem to be fixed in prod, will investigate further.

[2017-06-07 21:43] sams-joseph commented on #993
I just updated my forked repo from the master branch for the UI and after doing a fresh `npm install` locally to update dotaconstants the problem was resolved.

[2017-06-08 02:36] howardchung commented on #993
It looks like with the introduction of `package-lock.json` in npm5, minor/patch updates will not be updated in downstream packages.

I've run `npm update` to update the lockfile and the change should be reflected in the next release.

cc @Crazy-Duck

[2017-06-08 02:36] #993 closed

[2017-06-08 07:52] snugghash commented on #1001
Is the 6th image (TEMPEST) supposed to be the same as `enraged_windkin_tornado`? That's broken as well, but asset exists.

[2017-06-08 08:35] snugghash commented on #1001
I'd like to report that a grep reveals that this exists:
    ./dotaconstants/build/abilities.json:27599:    "dname": "Fireball",
    ./dotaconstants/build/abilities.json-27600-    "behavior": [
    ./dotaconstants/build/abilities.json-27601-      "Point Target",
    ./dotaconstants/build/abilities.json-27602-      "AOE"
    --
    ./dotaconstants/build/abilities.json-27628-    ],
    ./dotaconstan

[2017-06-08 08:38] snugghash commented on #1001
Finally, any tests to be done before I submit a PR to both repos?

[2017-06-08 08:38] #973 closed

[2017-06-08 08:42] howardchung commented on #1001
The original fix was to rename the tornado_tempest key name to point at the right image.  We could have renamed the image too, but we didn't do that.

It's possible that Valve just changed the ability key name, in which case it might be more correct to list both keys in the file and point at the same image.

The `img` path in that file is constructed based on the ability name.  It works well for m

[2017-06-08 08:43] howardchung commented on #1001
If CI passes on odota/ui, you're good.  You can run the UI locally to verify the issue is fixed as well.

[2017-06-08 10:09] snugghash commented on #999
Pardon me, but why specifically do you want to not have options? We already have one UI, offering an option and picking a sane default among those seems better.

All I can think of is that options would force development around that behaviour, perhaps increasing bloating.

New dev here, will appreciate any insights around how this intuition is related development best practices.

[2017-06-08 16:38] howardchung commented on #999
Having multiple options means testing is harder since we need to make sure any changes look OK with all combinations of options.  As you mentioned it also increases the amount of code.

[2017-06-09 02:49] #1001 closed

[2017-06-09 03:01] howardchung opened #1008 "range queries/group by stats"
support queries such as "winrate on antimage when AM has more than 10 kills".

A flexible way to implement this might be to add each field (K, D, A, etc. as a group option, and split the range into a predetermined number of buckets based on the range for that field (e.g. kills might get one bucket for each integer value, but something like GPM would probably need to be bucketed into groups of 50 G

[2017-06-09 07:17] justmeeee opened #1009 "Wrong numbers on 'vision'"
https://www.opendota.com/matches/3233518989/vision

'Dire vision' says Nyx bought 15 and placed 4 observers, but if you look on 'ward log' it shows 11 wards.

[2017-06-09 21:55] jacobs61695 opened #1010 "Expose Public Match Data checked but matches not appearing on OpenDota? Matches appear on Dotabuff"

[2017-06-10 03:25] howardchung commented on #1010
There was some Steam API unavailability earlier today that led to delays in matches showing up.  Looks like the issues have been fixed, so we should be caught up.

Are there still missing matches?

[2017-06-10 03:26] howardchung commented on #1009
This is the same issue as:
https://github.com/odota/ui/issues/975

Basically the new(-ish) ward_dispenser item is messing up the item use counts, so we should use the log instead.

[2017-06-10 03:26] #1009 closed

[2017-06-10 04:09] mihanemail opened #1011 "ESTIMATED MMR STUCKED !"

[2017-06-10 04:10] howardchung commented on #1011
Sorry, could you clarify what you mean?

[2017-06-10 05:01] mihanemail commented on #1011
nothing its fixed ! sorry i played games and my estimated mmr was the same then i noticed Expose Public Match Data checked but matches not appearing.ty

[2017-06-10 05:01] #1011 closed

[2017-06-11 02:23] #999 closed

[2017-06-11 19:31] howardchung commented on #1010
please reopen/comment if there are further issues.  Siltbreaker means heavier load on the API which means higher likelihood of Steam API issues.

[2017-06-11 19:31] #1010 closed

[2017-06-15 05:32] leovarmak opened #1016 "[Suggestion] Better to add tower tier in Story modea"
I really loved this story mode. So I was reading my story and then realised I was so much into it. Then when Meepo destroyed one of the towers I had trouble visualising it as to which tower it was.

So its better if its mentioned which tower was destroyed and which lane it belonged to. Attaching a screenshot to better explain myself

![image](https://user-images.githubusercontent.com/14135553/2716

[2017-06-15 05:34] #1008 closed

[2017-06-15 05:36] howardchung commented on #1016
@mdiller

Unfortunately I think the data doesn't have the tower that was destroyed.

This is the same issue as #816

[2017-06-15 05:36] #1016 closed

[2017-06-15 05:37] howardchung commented on #1016
If we manage to figure out a way to get the data we'll definitely do this though!

[2017-06-15 05:43] leovarmak commented on #1016
@howardchung Sorry. I forgot to look at open issues. Cool

[2017-06-16 02:26] howardchung opened #1018 "Match page fantasy tab"
Add a tab to match pages showing the fantasy score and breakdown of points for each player.

On the backend, we need to store some additional data in the Cassandra player_matches table (we are already extracting from replay, but currently only store for pro matches)

[2017-06-16 06:04] #987 closed

[2017-06-16 16:42] howardchung commented on #967
Please reopen/comment if there are any further issues with this.

[2017-06-16 16:42] #967 closed

[2017-06-16 16:43] howardchung commented on #909
Tested but don't think this looks better.

[2017-06-16 16:43] #909 closed

[2017-06-17 02:36] howardchung opened #1019 "test separate laning tab"
adapt PR #807

[2017-06-17 02:37] howardchung opened #1020 "fix lint warnings"
We're still getting some lint warnings that we might want to clean up at some point, like adding alt attributes to image elements.

[2017-06-17 03:23] #986 closed

[2017-06-17 17:02] #975 closed

[2017-06-17 17:42] howardchung opened #1022 "team rankings page"
backend support added in https://github.com/odota/core/pull/1476

[2017-06-18 11:43] denis331 opened #1026 "Error when trying to request a parse"
Hello!

I am trying to request a parse on OpenDota but it says "Failed to get match data" .

These are the matches I am trying to request a parse for:
2657449493
2917955705

Can anyone help me? The replays are very important to me ! :pray:

Thank you!

[2017-06-18 17:43] howardchung commented on #1026
Unfortunately, Valve only keeps replays for 10 days (3 months for battle pass owners), if the match is not a ticketed/pro match.

[2017-06-18 19:29] #1022 closed

[2017-06-18 19:33] #1018 closed

[2017-06-18 19:33] #522 closed

[2017-06-18 19:33] #1019 closed

[2017-06-19 01:49] #1026 closed

[2017-06-21 15:05] IVIortis opened #1031 "Assists log"
Hi all,

I would like to know if there is any way to get an assist log (just like kills and items), or if not are there any plans to implement it?

Thanks,
Mortis

[2017-06-21 16:33] howardchung commented on #1031
It's been requested, but not implemented yet.

https://github.com/odota/core/issues/1465

[2017-06-21 16:33] #1031 closed

[2017-06-23 17:38] nastyez opened #1033 "Show abandoned indicator on player summary"
Why does no stats recorded count as loss, please fix it. By the way i realy like opendota more than dotabuff.

[2017-06-24 04:53] howardchung commented on #1033
Do you have a link to the match in question?

[2017-06-24 09:46] nastyez commented on #1033
No, i dont think that would help, im just noticing that in dota 2 recent matches where is shown that no stats are recorded turns to count as loss in opendota.

[2017-06-24 11:12] howardchung commented on #1033
Yeah but with the link I can check the data to see why they're showing up like that

[2017-06-24 22:31] nastyez commented on #1033
Never mind looks like i was wrong sorry. But i noticed only that 1 game that i abandoned was shown to be loss instead abandon (i know its the same thing but still it would be great if i knew that that was the game i abandoned).

[2017-06-24 22:34] howardchung commented on #1033
I'll need the match ID/link to the match in order to debug the issue.

[2017-06-25 05:15] nastyez commented on #1033
Sure https://www.opendota.com/matches/3267009755

[2017-06-25 07:48] howardchung commented on #1033
According to the API, stats were recorded for this game.  Does it show up otherwise on your Dota (in-game) profile?

[2017-06-25 07:54] howardchung commented on #1033
To clarify, on the match page it will show if a player abandoned or not.  However, on a player page it will just show the result of the player's team (win or loss), even if the player abandoned.  If you want it to show the abandoned indcator on the player summary as well, I guess that's a feature request that we could consider.

[2017-06-26 12:14] dotabug opened #1036 "MMR delays"
https://www.opendota.com/players/154715080
In this example, at 8:07 PM June 26 2016, this player's MMR is 9999 Dbuff its already 10024.
[Opendota](https://a.safe.moe/XhUgS.png)
[Dotabuff](https://a.safe.moe/HhHm2.png)

[2017-06-26 16:41] howardchung commented on #1036
Unfortunately the MMR fetching is kind of unreliable and it can return different values depending on a variety of factors, such as how long after the match the data is requested.  Requesting too quickly leads to the data not being updated.

We could manually refresh this player's data, but this may still happen from time to time.

[2017-06-27 02:37] anko opened #1039 "Detect and show whether a player was playing support or core"
I have a hunch that I win more games when supporting, than as a core. But how would I find out? It would be neat if as part of parsing a match, OpenDota attempted to categorise players this way, so we could use it as a filter criterion.

Some questions:

 - Has this been discussed before? What were the conclusions then?

 - What do support and core mean exactly, in a programming sense?

   I recog

[2017-06-27 03:35] howardchung commented on #1039
We sort of do this client side for the analysis feature:
https://github.com/odota/ui/blob/master/src/utility/index.jsx#L358

It's a very basic check, just determining if the player got fewer than 20 last hits in the first 10 minute and placed more than 2 observer wards total.

Unfortunately there isn't a good way of validating how accurate these kinds of rules are short of sitting down with a bunc

[2017-06-27 03:48] howardchung commented on #1036
I manually forced an update.  For reference this is the Redis command I used:
`redis-cli lpush mmrQueue "{\"account_id\": 154715080, \"match_id\": 3274457422}"`

[2017-06-27 03:48] #1036 closed

[2017-06-27 20:37] awailes opened #1040 "Siltbreaker matches are being included in the player profile overview Averages/Maximums in last 20 matches"
When I go to my Player Profile, and am on the Overview tab, the calculations for the Averages/Maximums in last 20 matches is including  Event / Co-Op Bots matches from siltbreaker (the custom game).  These matches are labeled as Event / Co-Op Bots matches.  These are not real Dota matches and should not be included in the calculations for the Averages/Maximums in last 20 matches.  I have attached

[2017-06-27 21:05] blukai commented on #1040
https://github.com/odota/core/issues/1474

[2017-06-28 02:38] howardchung commented on #1040
Yeah, although I think it makes more sense to filter these matches from the calculation on the client side, so I'll close the core issue in favor of this one.

[2017-06-29 06:46] gu3st opened #1042 "Error thrown when viewing Story"
With game: https://www.opendota.com/matches/3280538799/story

I get exception: `Cannot read property 'key' of undefined | stack: TypeError: Cannot read property 'key' of undefined
    at re (https://www.opendota.com/build/bundle.js:56:341737)
    at t.value (https://www.opendota.com/build/bundle.js:56:343303)
    at t.value (https://www.opendota.com/build/bundle.js:56:343501)`

I think it's the tr

[2017-06-29 08:54] howardchung commented on #1042
@mdiller

If you think you can make the change, go ahead and submit a PR!  We'll check it out during code review

[2017-06-29 23:21] mdiller commented on #1042
Oops. Didn't mean to close this. Yeah sounds like that fix will do it!

[2017-07-01 02:45] #1042 closed

[2017-07-01 04:10] nabuqodonosori opened #1052 "MMR"
More attention about MMR. My MMR tracked from 11.08.2016, or help me how to fix it.

[2017-07-01 04:17] nabuqodonosori commented on #1036
My MMR is refreshed 11.08.2016. Please do something or tell me how to fix.

[2017-07-01 04:25] howardchung commented on #1052
Did you display it on your profile as described here?

https://blog.opendota.com/2016/01/13/yasp-mmr-and-you/

[2017-07-01 05:10] howardchung commented on #1036
See the response in https://github.com/odota/ui/issues/1052

[2017-07-01 09:00] valeriilos opened #1054 "How many match entries odota stores?"
Tried to get a thousand or so for my little project, but seems that I can get only 100 with  https://api.opendota.com/api/publicMatches
and when I add
?less_than_match_id=[oldestIDIGot]
it returns nothing
and if I request with ?less_than_match_id=[mostRecentIDIGot]
it returns less than 100 results.
How do I get more than this? If it's not a problem, please store more entries.

[2017-07-03 05:20] despicable1 opened #1055 "help me i can't see my estimated mmr"

[2017-07-03 05:21] howardchung commented on #1055
Link to profile?  Most probable cause is that you haven't played any matches with any players showing their MMR.

[2017-07-03 05:23] howardchung commented on #1054
Are you sure you passed the oldest ID (smallest number?).  Can you provide a sample link?

[2017-07-03 09:38] despicable1 commented on #1055
https://www.opendota.com/players/441879865

[2017-07-03 09:38] despicable1 commented on #1055
do you have a fb page?? or fb account

[2017-07-03 10:02] blukai commented on #1055
@despicable1 everyone in ur 5 matches haven't showing their mmr, so it can't be calculated.
MMR estimate based on the mean visible MMR of the recent matches played.

---

On top-right of match page u can see

![image](https://user-images.githubusercontent.com/20866892/27787937-414b2ea8-5fef-11e7-9a4b-d20e43bbbcb2.png)

Unknown since possibly everyone in ur matches has new accounts, or haven't show

[2017-07-03 10:03] #1055 closed

[2017-07-03 10:05] valeriilos commented on #1054
https://api.opendota.com/api/publicMatches returns a list where
responce[0]['match_id'] = 3283084804
responce[99]['match_id'] = 3283089507

https://api.opendota.com/api/publicMatches?less_than_match_id=3283084804
returns this '[]'

I've already kind of solved my issue, I request latest 100 matches every 100 seconds and it gives me different matches all the time. In case of matchId repeating I chec

[2017-07-03 10:09] despicable1 commented on #1055
so how can i get my estimated mmr ???

[2017-07-03 10:11] despicable1 commented on #1055
my friend said  that  when he using his yasp account and played 2 games his estimated mmr come up ?

[2017-07-03 10:16] despicable1 commented on #1055
kindly give me a tip or maybe my setting is in private mode ,,, help me admin,,  T_T

[2017-07-03 10:22] blukai commented on #1055
When u'll get someone in match, who showing their mmr, ( @howardchung, I guess that one player, who showing mmr is enough? ) it will come up. So just play and have fun 😛

[2017-07-03 10:25] despicable1 commented on #1055
thank you

[2017-07-04 07:57] howardchung commented on #1054
I added an order by that should fix the issue (matches should be sorted in descending match ID order).

[2017-07-04 19:17] howardchung commented on #1054
See https://github.com/odota/core/issues/1490 for continuation

[2017-07-04 19:17] #1054 closed

[2017-07-04 19:34] blukai opened #1056 "Chat emoticons"
Display dota emoticons in chat messages on `matches/match_id/chat`.
One day I'll do it, or someone else 😛

[2017-07-04 20:30] howardchung commented on #1056
example?

[2017-07-04 20:46] gu3st commented on #1056
http://dota2.gamepedia.com/Emoticons

For instance, :bc_100: will map to 💯 .  There's some other ones that map to more DOTA centric ones (like : thinking : will become an ember spirit thinking (instead of the default 🤔 )

[2017-07-04 21:06] blukai commented on #1056
[Match](https://www.opendota.com/matches/3170212000/chat)

![image](https://user-images.githubusercontent.com/20866892/27842448-de8d0a8c-6112-11e7-941c-039e2b6a7008.png)

Dota 2 [emoticons in vdf](https://github.com/SteamDatabase/GameTracking-Dota2/blob/master/game/dota/pak01_dir/scripts/emoticons.txt
) (can be easily converted to json)

Zerostartingpoint 😛  is `0xE000`, it can be converted to cha

[2017-07-05 09:47] mdiller commented on #1056
So would we be wanting to get the [images from the vpk](https://github.com/SteamDatabase/GameTracking-Dota2/tree/master/game/dota/pak01_dir/resource/flash3/images/emoticons) and convert them all into gifs and store them in the assets folder then?

[2017-07-06 06:22] howardchung commented on #910
@samwhite any update on this?

[2017-07-06 06:23] howardchung commented on #1052
Please reopen/comment if there are further issues.

[2017-07-06 06:23] #1052 closed

[2017-07-06 06:24] howardchung commented on #1020
@mjhale is working on this

[2017-07-06 06:25] howardchung commented on #958
Closing as this is an upstream issue (but it's still a problem, this is just for avoiding duplicates)

[2017-07-06 06:25] #958 closed

[2017-07-06 12:16] despicable1 opened #1060 "i got a bug my two games is not recorded"

[2017-07-06 16:37] howardchung commented on #1060
Is Expose Public Match Data enabled?  Do you have a link to your profile/the missing match IDs?

[2017-07-07 04:28] howardchung commented on #1060
There was an issue with match ingestion this morning that led to matches being delayed.  Please reopen/comment if the matches are still missing.

[2017-07-07 04:28] #1060 closed

[2017-07-08 04:06] despicable1 opened #1061 "i have a question this estimated mmr? is this true or not??"

[2017-07-08 14:20] howardchung commented on #1061
It's an estimate based on the visible average MMR of the players in your recent matches.  Accuracy will vary based on many factors, including whether you play mostly ranked or unranked, whether you party with friends with different skill levels than you, and how many games you've played.

[2017-07-08 14:20] #1061 closed

[2017-07-12 04:08] TrentBartlem opened #1065 "Story: Net Worth difference at x minutes in"
The story shows a heading every 10 minutes. It would be nice to show the net worth difference at each checkpoint, e.g:

<img width="476" alt="screen shot 2017-07-12 at 2 07 31 pm" src="https://user-images.githubusercontent.com/171650/28101386-839827fc-670b-11e7-9c23-ae9ead78a020.png">

or something similar.

Or if not in the header, as a line item directly below it.

[2017-07-12 04:11] howardchung commented on #1065
Sounds like a good idea!  @mdiller

[2017-07-12 04:44] mdiller commented on #1065
Yeah cool idea. I'll see what I can do!

[2017-07-13 03:57] howardchung commented on #816
We think there's a way to get this data, see https://github.com/odota/core/issues/1486 for details

[2017-07-14 00:33] mdiller commented on #1065
I was thinking maybe something like this. (with text added for details)
![networth_mockup](https://user-images.githubusercontent.com/3231343/28193392-31f64c30-67f1-11e7-8545-0c9a96cab669.png)
Any thoughts?

[2017-07-15 08:43] howardchung commented on #816
fixed in #1066

[2017-07-15 08:43] #816 closed

[2017-07-16 09:02] KaLam1tyAC opened #1068 ""Stone Form" spell icon is throwing a 404 Error"
Specifically calls to URL: https://api.opendota.com/apps/dota2/images/abilities/visage_summon_familiars_stone_form_lg.png

Screenshot: https://cdn.discordapp.com/attachments/197560147529170944/336068808764555274/unknown.png

[2017-07-16 09:05] KaLam1tyAC commented on #1068
Wiki Image (128px): https://hydra-media.cursecdn.com/dota2.gamepedia.com/2/20/Stone_Form_%28Familiar%29_icon.png?version=867aa08d6e52a1727695c59bf674a5a8

[2017-07-22 04:42] howardchung commented on #405
Data added in https://github.com/odota/core/pull/1501

[2017-07-23 02:38] mdiller opened #1078 "Order of rows changes on Networth/XP table"
This is the table you get on hover for the graphs of networth and XP. Seems like they should be consistent.
![image](https://user-images.githubusercontent.com/3231343/28496031-2be7762c-6f15-11e7-937b-fa87aaa04086.png)
![image](https://user-images.githubusercontent.com/3231343/28496033-3f64c916-6f15-11e7-9f42-b7d52340848a.png)

[2017-07-23 06:30] howardchung commented on #1078
I think this is due to the sorting logic used on the tooltip for the gold/xp/lh graphs.  Should probably disable for this graph.

[2017-07-27 16:27] aarmora commented on #1033
I'd be interested in adding this. Current I don't show that the player object returned from the API for the match has any indication of whether it was an abandon or not. Am I missing something? Would an abandoned flag need to be added to the matches returned from the API?

[2017-07-27 16:34] howardchung commented on #1033
Yeah, we have to project the leaver_status column into the queries for both the /recentMatches and /matches endpoint.  Should be a quick fix but requires a change to odota/core.

[2017-07-27 16:34] howardchung commented on #1033
/matches can be fixed by adding onto the project parameter:
https://api.opendota.com/api/players/88367253/matches?project=leaver_status&limit=10

[2017-07-27 16:42] aarmora commented on #1033
Gulp. That means I better figure out docker.

Why not just include the leaver status in all of the match objects instead of using a query param? Excuse me if this would be more clear if I understood the project better.

[2017-07-28 04:01] howardchung commented on #1033
That's an option as well, just need to add leaver_status as a default field that always shows up.

If you're having issues getting odota/core running I can make these changes pretty quickly myself.

[2017-07-28 12:20] aarmora commented on #1033
Yeah, I can't get odota/core up yet. I hope to be able to put more time in today to get docker up going.

[2017-07-28 15:44] Buldy opened #1084 "AM's stuns count with negative seconds"
I think there is a problem with AM's mana void counting negative seconds to stuns.

![bez nazvu](https://user-images.githubusercontent.com/16001712/28725014-61ebb0ca-73bc-11e7-9b84-e23c0c7581ec.png)

[2017-07-28 16:37] howardchung commented on #1084
Yeah, I don't know why this happens but we don't compute this field ourselves, it's read out of the replay file so it is a probably a bug for Valve to fix.

[2017-07-29 02:15] #1065 closed

[2017-07-29 21:39] lanster99 opened #1087 "Match not processed at all"
Match in question: https://www.opendota.com/matches/3344000233

Shows up on profile as no hero, 48 years ago etc.

[2017-07-29 21:46] howardchung commented on #1087
Looks fine now?

[2017-07-29 21:50] lanster99 commented on #1087
I used request a parse on the match id and it fixed it.  Not sure what caused it in the first place though.

[2017-07-29 22:04] howardchung commented on #1087
Did you just enable public match data?

[2017-07-29 22:09] lanster99 commented on #1087
Nope, haven't touched any of my dota settings.  The match I played yesterday was processed fine, and the ones I played after it today where processed fine.  Just seems that the match data never got processed (processed as in the stage before parsing), but it had the match listed with the match id on my profile.

[2017-07-29 22:29] howardchung commented on #1087
Hmm, if you see it again don't request a parse and let me know, I'll try to investigate the issue

[2017-07-30 10:49] howardchung commented on #1033
I made the change in:
https://github.com/odota/core/commit/ec0ff11405c644ec2e237c9e444ac1c03a29650b

If you want to work on this you can just work on adding it to the UI.

[2017-07-30 13:13] aarmora commented on #1033
@howardchung Trying to find it in the UI now. Thanks!

[2017-07-30 19:07] drusepth opened #1093 "MMR tracking not working at all"
Hi, I'm looking at [this URL](https://www.opendota.com/players/84783156/mmr) where I have a single MMR data point (from 2015), even though [I've played many, many ranked matches since then](https://www.opendota.com/players/84783156/matches?lobby_type=7). My current MMR (1,225 currently) is also off from the displayed MMR on Opendota (1,182, which I haven't been for some time).

Is this a bug, or a

[2017-07-30 19:11] howardchung commented on #1093
Did you do this?

https://blog.opendota.com/2016/01/13/yasp-mmr-and-you/

[2017-07-30 22:25] drusepth commented on #1093
Oh, I definitely didn't -- didn't know about it.

Enabled it and played a game and it seems to be working now. Is there any way to retrieve historical data?

Thank!

[2017-07-30 22:25] #1093 closed

[2017-07-31 13:23] blukai commented on #1056
Unfortunately not all icons can be found on page, that @mdiller provided. File `pak01_dir.vpk` located in `Steam\SteamApps\common\dota 2 beta\game\dota` contains all icons in `panorama\images`.

[2017-07-31 16:12] souravmondal93 commented on #1068
@howardchung
I tried to fix this error, but I found that the [dotaconstants](https://github.com/odota/dotaconstants) repository has some issue with the image file, it is not pointing to correct file location. I also searched dotabuff for a similar image, but I was not able to find it, as they haven't used this image file anywhere.

[2017-07-31 16:33] howardchung commented on #1068
You need to put the image in:
https://github.com/odota/ui/tree/master/assets/images/dota2/neutral_abilities

And add it to the neutral_abilities.json in dotaconstants

[2017-07-31 16:45] howardchung commented on #1068
It's the easiest fix.  It's just named that because originally this issue only affected neutral abilities.

[2017-07-31 16:46] souravmondal93 commented on #1068
Okay. I will update the code in both the repositories and I will send the PRs. :)

[2017-07-31 18:12] #405 closed

[2017-07-31 18:12] #1033 closed

[2017-07-31 20:33] alexey-formalmethods opened #1096 "incomplete user table"
Hi!
select * from players
where profileurl='http://steamcommunity.com/profiles/76561198158859091/'
limit 100

It's my account, why does sql return 0 rows?

[2017-08-01 04:06] howardchung commented on #1096
You need to use account_id:
https://www.opendota.com/explorer?sql=select%20*%20from%20players%0D%0Awhere%20account_id%20%3D%2088367253&format=

[2017-08-01 08:04] alexey-formalmethods commented on #1096
So why can i find someone else by profileurl, but am not able to query my own account?

[2017-08-01 12:41] souravmondal93 commented on #344
Can I work on this?

I also noticed that Necronomicon ability icons are missing.
Link: https://www.opendota.com/matches/3346652500/combat
Image: http://prntscr.com/g2yq0j

[2017-08-01 15:40] souravmondal93 commented on #390
@howardchung
I followed `VisionMap.jsx` and tried to modify `Heatmap.jsx` file to achieve the desired result of responsive, but it didn't work. Two maps were displayed side-by-side and heat-map data on the map was also lost.
Result: http://prntscr.com/g31afa

I would like to work on this issue. Any help for this task from your side will be much appreciated. :)

Thanks

[2017-08-01 20:49] willbnu opened #1099 "My profile isn't updating the mmr score."
https://www.opendota.com/players/50906605

[2017-08-02 02:13] howardchung commented on #1099
Did you remove it from your player profile, as described here?

https://blog.opendota.com/2016/01/13/yasp-mmr-and-you/

[2017-08-02 02:18] howardchung commented on #390
Looks like there's already a PR out for this issue.  Feel free to check out the code if you want to see the implementation (or jump in the code review)

[2017-08-02 02:20] howardchung commented on #344
Sure, feel free to add those images.

[2017-08-02 02:22] howardchung commented on #1096
There could be a variety of reasons, it depends on whether they are present in the database.  We discover players when they play matches with public match data turned on, or log in, so it's not 100% complete.

Also, there is no index on profileurl so querying on that will be very slow.

[2017-08-02 03:16] souravmondal93 commented on #344
How should I approach this problem? Should I do it as we did it in https://github.com/odota/ui/pull/1097 issue?

[2017-08-02 04:32] howardchung commented on #344
Yes, that should work.

[2017-08-02 06:40] #1068 closed

[2017-08-03 00:55] Aw3som3n3zz opened #1100 "Match data does not auto parse even if logged in using Steam"

[2017-08-03 01:53] howardchung commented on #1100
Yes, automatic parsing is somewhat unreliable lately due to Valve rate limiting accessing to replay salts.  Hopefully this will improve after TI is over.  For now, you may have to request parsing for matches that you want parsed more quickly.

[2017-08-03 01:55] #390 closed

[2017-08-03 05:08] howardchung opened #1101 "add history pane to explorer"
Allow user to see what they recently queried and jump back/forth

[2017-08-03 13:06] SebastianOltmanns opened #1103 "Hero last played is slightly wrong"
The "x hours ago" statement in hero overview is different from the "y hours ago" statement in match overview.
Example screenshots:
Look at the matches with Bane (12 minutes ago) and Windranger (13 hours ago). In the right bottom corner, you see Heroes played: Windranger (14 hours ago) and Bane (57 minutes ago).
![opendota_issue_overview](https://user-images.githubusercontent.com/18480245/28923040-

[2017-08-04 04:16] howardchung commented on #1103
This is due to using start_time + duration as the time for the match view, while using start_time for everything else.  To make it consistent we could use start_time in the match view, but that may confuse users (e.g. if you just finish a match it will show up as 40 minutes ago)

[2017-08-06 15:27] SebastianOltmanns commented on #1103
To make it consistent, what about using the start_time+duration for the hero last played statement? It's more intuitive to say I last played Bane 12 minutes ago when my Bane match just ended, instead of 57 minutes

[2017-08-06 16:57] howardchung commented on #1103
That's possible as well, requires a change to odota/core to send that value to the UI

[2017-08-06 17:21] mike-robertson opened #1106 "Make table titles in overview links to in depth section"
If I'm looking at something like heroes played on overview and want to see the big table, I'm too lazy to scroll up and click the tab there. It would be cool to be able to just click the table title.

[2017-08-07 05:28] howardchung commented on #1101
similarly, use `replaceState` instead of `pushState` so we don't spam the user's browser history (we don't auto-update the UI based on back button clicks anyway)

[2017-08-10 11:18] alexey-formalmethods commented on #1096
Yes, my profile public match data is turned off, now it's clear. Thank you!

[2017-08-10 11:18] #1096 closed

[2017-08-10 20:12] Visphiric opened #1107 "Add ward kills under "Farm" tab"
Observer/Sentry wards aren't shown under the farm tab. I'm guessing it should be shown in the "Other" column?

[2017-08-12 04:35] howardchung commented on #1107
I think this data is under the Vision tab but you could also add it to the farm tab

[2017-08-13 07:57] howardchung commented on #1100
It looks like the limits have been lifted so automatic parsing should resume.

[2017-08-13 07:57] #1100 closed

[2017-08-13 07:58] #1099 closed

[2017-08-14 11:36] XuZhilei opened #1110 "A match cannot be parsed."
sry for my poor English
https://www.opendota.com/matches/3370054178
I tried to parse this match, however after I clicked submit button, there only raised "The replay for this match has not yet been parsed. Not all data may be available." and nothing would be parsed. But this issue can only be found on this match, while other matches are regular. I tried several IP address to submit, but the same i

[2017-08-14 11:46] XuZhilei commented on #1110
It seems like Valve's missing the replays for this match.
http://replay111.valve.net/570/3370054178_1346084491.dem.bz2
Sad.

[2017-08-14 11:46] #1110 closed

[2017-08-14 16:37] howardchung commented on #1110
Yeah, unfortunately Valve loses replays from time to time (even for big events like TI)

[2017-08-15 19:07] g3rezz opened #1113 "1v1 mid replays almost never load once parsed"
1v1 mid replays almost never load once parsed. Unparsed replays for the most part can be viewed.
That was not the case a couple of months ago ( maybe 4 months ago).
I don't know if it has something to do with valve removing the download feature for 1v1 replays in the game client. Sometimes , very rarely though, parsed 1v1 replays do load and can be downloaded from opendota. I am aware that the rep

[2017-08-16 05:11] howardchung commented on #1113
Looks like a JavaScript crash in the UI.  Investigating

[2017-08-16 05:19] #1113 closed

[2017-08-17 00:50] MaxwellLevenson opened #1118 "MMR comparison among Steam friends"
It'd be nice to have a tab where you can easily browse your Steam friend's (or "peers") MMRs  compared to yours. All the data should be in the database already, it's just hooking up the data pipeline and adding a container.

[2017-08-17 02:27] howardchung commented on #1118
Yeah, we could probably do this by looking up MMR for each peer in the /peers API call

[2017-08-17 07:35] #1107 closed

[2017-08-17 07:35] #1087 closed

[2017-08-17 23:34] Rabid5 opened #1121 "Show link to instructions for enabling MMR updates"
![graph for bug report]
![graph for bug report](https://user-images.githubusercontent.com/31115124/29438192-0c20c3c0-8383-11e7-992b-3abbcaf256bb.PNG)

[2017-08-18 03:19] quekyuxuan opened #1122 "Unable to load profile"
Hi,

When I try to access my profile https://www.opendota.com/players/124964145 , I get stuck with a loading screen (screenshot below).
<img width="1321" alt="screen shot 2017-08-18 at 04 15 14" src="https://user-images.githubusercontent.com/12409804/29442810-e878e526-83cb-11e7-853a-540a88a47cfe.png">
I am able to load other profiles normally, and have tried to load the profile when both when logg

[2017-08-18 03:34] mbyakow commented on #1122
Console output ![image](https://user-images.githubusercontent.com/7271758/29443219-babad092-8400-11e7-95b8-b7dca9980b14.png)

[2017-08-18 04:07] howardchung commented on #1122
Thanks, this looks like an issue with a change to the mmr estimate data format.  Will push a fix on the API

[2017-08-18 04:12] howardchung commented on #1121
Did you follow the directions here?

https://blog.opendota.com/2016/01/13/yasp-mmr-and-you/

[2017-08-18 04:14] mbyakow commented on #1122
#1123

[2017-08-18 04:34] howardchung commented on #1122
I rolled out an API fix to prevent the crash, looks like the header is loading properly now.

@mbyakow also submitted a fix that handles this case and better defaults for players who no matches recorded.

I'll try to ship that to prod this weekend.

[2017-08-18 04:34] #1122 closed

[2017-08-18 08:01] blukai commented on #1121
@howardchung I regularly see problems with updating the MMR, perhaps we should add text that explains how it works on the MMR page?

[2017-08-18 08:40] howardchung commented on #1121
Yeah, that's probably a good idea

[2017-08-18 18:58] Neitqq opened #1124 "Hero rankings bug"
If reporting a bug, the following information would be helpful:
- **Win 8.1**:
- **1366x768**:
- **Opera last ver.**:
- **https://www.opendota.com/players/93786490/rankings**:
- http://imgur.com/a/O9nYB:
My hero rankings is empty, but i was sure i saw my rankings one or two weeks ago

[2017-08-18 21:31] kryonik opened #1125 "Sum of time dead in performance tab"
Not really a bug per se but in the performance section, the summation of a team's total "time dead" is displayed as the total number of seconds dead. I feel like it would make more sense if it was in MM:SS format.
![opendota](https://user-images.githubusercontent.com/31144109/29478469-0edc3d34-843b-11e7-8027-45f163bdddcd.png)

[2017-08-19 01:36] Doyle3694 opened #1126 "Stun time values should be rounded (Player profile/Trends/Stuns)"
Example:
![image](https://user-images.githubusercontent.com/2184532/29482281-d0915cae-848e-11e7-995e-e73e382a709d.png)
Currently shows way more digits than can be deemed significant

Should be rounded like, for example, kills:
![image](https://user-images.githubusercontent.com/2184532/29482325-8f3a6236-848f-11e7-95cb-efc9930e8906.png)

[2017-08-19 02:52] howardchung commented on #1126
Think we just need to do `.toFixed(2)` on it.

[2017-08-19 02:53] howardchung commented on #1124
I reset the rankings a while ago, and they now only show up if the user's score on a hero is greater than some threshold.  Keep playing and eventually it should show up

[2017-08-19 04:11] #1126 closed

[2017-08-19 04:15] #1124 closed

[2017-08-19 06:53] howardchung commented on #1125
fixed in #1129

[2017-08-19 06:53] #1125 closed

[2017-08-19 19:42] g3rezz commented on #1113
Thank you very much for fixing the issue so promptly. I am now able to load all my 1 vs 1 games and download them. I wasn't expecting anybody to care about this mode. Thanks again, you guys are doing a great work with the site!

[2017-08-20 09:58] Xanvial opened #1131 "Ability Build view"
Hi
There's a bug when viewing ability build on mobile, I can't view all levels after pressing triple dots button. Only last few level is visible.
OS: Android
Browser: Opera ver. 42.9
Resolution: 1080 x 1920 using portrait view

Suggestion, maybe move the ability build on different table on Overview tab. My experience is I need a while to found where to view it because the placement isn't noticeabl

[2017-08-20 14:13] howardchung commented on #1131
@blukai do you think we should split it off into a table?  I agree it's probably better to have it visible without requiring a user interaction.

[2017-08-20 14:38] blukai commented on #1131
I think we can do it

[2017-08-20 15:02] flankstaek commented on #1118
I think I'll have a pull request here & on core w/ this feature later today

[2017-08-20 20:13] #869 closed

[2017-08-20 20:13] mike-robertson commented on #869
Can't reproduce anymore

[2017-08-20 23:37] #1106 closed

[2017-08-22 01:23] #1078 closed

[2017-08-23 09:43] justmeeee opened #1134 "Why is my MMR not shown in my profile?"
Shouldn't the real MMR be shown in any profile where available?
But all I see is the calculated MMR number.

[2017-08-23 16:22] howardchung commented on #1134
Did you follow the instructions here?

https://blog.opendota.com/2016/01/13/yasp-mmr-and-you/

[2017-08-24 00:34] jhonnold commented on #1131
Working on putting this in its own table - did we still want it on the overview page or on its own tab now?

[2017-08-24 07:15] justmeeee commented on #1134
Okay, I thought that it may be the cause but then I thought that any information should be available when I share my dota profile.

Thanks.

[2017-08-24 16:16] #1134 closed

[2017-08-26 04:39] howardchung commented on #1131
fixed in #1135

[2017-08-26 04:39] #1131 closed

[2017-08-26 04:50] howardchung commented on #344
I think all of these are fixed

[2017-08-26 04:50] #344 closed

[2017-08-26 05:36] souravmondal93 commented on #344
Yep, I have add the listed missing icons. If any more such issues arrive, I will be happy to fix them.

[2017-08-27 04:55] howardchung opened #1136 "performance issue on match overview tab"
Switching to "overview" from any tab has a noticeable delay.  We should profile the components being rendered and see which ones are taking the longest, and possibly reduce the number of elements/move them to different tabs.

[2017-08-27 18:49] bippum opened #1137 "Chat doesn't load on certain match"
Error in console: https://dota.is-bad.com/83e3e8.png

- **OS**: Windows 10
- **Screen Resolution**: 1920x1080
- **Browser/Version**: Chrome 60.0.3112.101 (Official Build) (64-bit)
- **Link to page with the issue**: https://www.opendota.com/matches/3407034079/chat
- **Screenshot**: n/a

[2017-08-27 19:15] howardchung commented on #1137
@blukai might be an edge case not handled by the new chat UI

[2017-08-27 20:49] CauchyAbel commented on #1121
@blukai Waiting on your idea of how to implement it. The original post has been fixed to show OpenDota, mmr, and you

[2017-08-27 22:08] blukai commented on #1121
@CauchyAbel in `src/components/Alerts` u can fing `Warning`, u can create`Info` component by copying warning and replacing icon, color. I guess add link to the blogpost that explains how it works whould be enough. 🤔

[2017-08-27 23:56] blukai opened #1140 "Make log similar to chat"

[2017-08-29 02:37] #1137 closed

[2017-08-29 05:19] CauchyAbel commented on #1121
@blukai Which one is better?

![](https://cdn.discordapp.com/attachments/197560147529170944/351576027702624267/unknown.png)

![](https://cdn.discordapp.com/attachments/197560147529170944/351576327884636160/unknown.png)

[2017-08-29 07:33] blukai commented on #1121
@CauchyAbel Maybe it's better to put it under the heading above graph? 🦄

[2017-08-30 04:22] howardchung opened #1142 "team pages"
Create pages for each team (will require adding new endpoints to odota/core but we have the data)

Things we might want to display:
* Players registered to the team
* Recent games played by the team
* Heroes played by the team

[2017-08-30 04:24] howardchung opened #1143 "hero pages"
Improve the hero pages (currently we only display rankings and benchmarks).

Things we might want to add:
* Best against/worst against heroes
* Recent (pro?) matches with this hero
* graphs for winrate against time

[2017-09-03 11:20] mdfwn opened #1148 "Display high mmr games and tracking pro players? (basically what dota2tvpro.com tries to do)"
Hello, I'm the author of this thread: https://www.reddit.com/r/DotA2/comments/6xmvfq/i_built_my_own_version_of_dota2tvprocom_because/

tl;dr: dota2tvpro.com tracks high MMR games and games of dota 2 personalities, but the site is always down. I built my own logger using python (dota2api lib and Flask) but I don't know where to host it.

I just thought about collaborating with opendota. Do you thin

[2017-09-03 11:52] howardchung commented on #1148
My main concern is that doing this is circumventing Valve's "Expose Public Match Data" setting (which many pros disable) will lead to complaints and therefore Valve shutting down the APIs/access to replays.

Does your script just use the Steam web API?  If so, it will not show players who have the setting disabled.

[2017-09-03 12:03] mdfwn commented on #1148
I thought about that concern as well, I guess it's another discussion whether Valve could or should do this.

But yes, my script is using the steam web API (https://api.steampowered.com/) and identifying pros who don't expose their match data currently works with a look-up table (pairs of pro names and account ids) that I extracted from a web-archive view of dota2tvpro.com (currently only ~60 name

[2017-09-03 12:09] howardchung commented on #1148
Doesn't the web API hide IDs of players who have the setting disabled by setting it to `2^32 - 1` (4.2 billion)?

[2017-09-03 12:11] mdfwn commented on #1148
No, it still provides account ids. You just can't use the player API to receive match history etc.

[2017-09-03 12:11] howardchung commented on #1148
Can you link an example match ID where this is the case?

[2017-09-03 12:23] mdfwn commented on #1148
I checked and you're partially right - GetMatchDetails does "hide" the real account id the way you explained it. GetTopLiveGame (the function that I use to retreive the games) however shows the real account id, example: https://api.steampowered.com/IDOTA2Match_570/GetTopLiveGame/v1/?key=API_KEY&partner=0 (please provide your own API Key here).

[2017-09-03 12:28] howardchung commented on #1148
Interesting.  Well, since that's an official endpoint and it's not hiding the IDs I assume Valve is OK with it.  I'd be open to accepting features utilizing that endpoint.

How complete is the coverage?  Are there are some pros whose games don't get picked up by that endpoint?

[2017-09-03 12:36] mdfwn commented on #1148
I hope I understand your question correctly: yes, basically all players who are considered to be pros but are not part of my current look-up table are missing. As mentioned, I only included ~60 players so far which means that a lot of players - including the whole chinese scene and most of SEA - is still missing. However, I guess that's mostly a question of parsing different dota information sites

[2017-09-03 21:13] howardchung commented on #1148
You can use this list that has about 1000 pro players and their IDs:

https://api.opendota.com/api/proPlayers

GetTopLiveGame doesn't appear to have the match ID as one of the fields.  How are you planning to map the listed matches to the match ID?

[2017-09-04 15:05] mdfwn commented on #1148
Oh very convenient, thanks for this list!

GetTopLiveGame doesn't provide a match ID,  but a steam_server_id. The steam_server_id is the parameter you can use for GetRealtimeStats (https://api.steampowered.com/IDOTA2MatchStats_570/GetRealtimeStats/v1) which provides you a match ID. Took me some time to find that out...

[2017-09-04 15:46] mike-robertson opened #1150 "trends select list hard to use"
I think we should at least sort the select list alphabetically or something. It's pretty hard to 'browse' the different trends if you don't know what you are looking for.

[2017-09-04 20:37] howardchung commented on #1150
Sure, I think it should be pretty quick to sort the list.  Should we still default to "kills" on all of them?

[2017-09-04 20:39] howardchung commented on #1148
Sounds good.  Did you want to port your existing code to JavaScript and run it as a new service?  You can store the resulting data in Redis since it doesn't need to be persisted forever (presumably you just need to list a pro player's recent matches, with links to the match summary page when it's done?)

[2017-09-04 21:58] mdfwn commented on #1148
I got contacted by someone who wants to help me with the project and the hosting. My short term goal is to get it up & running so everyone can use this kind of site again. It's currently written in Python and Flask/SQLAlchemy. My long term goal is working towards an integration into opendota - however, I have no clue yet how the opendota system is working and what time and effort it will take to p

[2017-09-05 04:06] howardchung commented on #1148
There'd be three main steps:

* Add a new service that polls these endpoints, when it finds a match with a pro player on the list, write the data on that match to a data store (like Redis).  This would be a standalone JS service in https://github.com/odota/core/tree/master/svc.  This should be a pretty straightforward port of the logic in your existing Python script.

* Add an API endpoint so the

[2017-09-08 23:05] NiQDeveloper opened #1155 ""undefinedth" hero ranking on Rankings tab"
**Given** I am an odota user
**When** I visit the Rankings tab
**And** I have heroes returned
**Then** The rank column comes through as "undefinedth"
![image](https://user-images.githubusercontent.com/8285074/30234133-b0921db6-953d-11e7-8f24-ba1fc77cd4c3.png)

[2017-09-09 02:13] howardchung commented on #1155
I actually removed this column in https://github.com/odota/ui/commit/fe245f4c0761989d2f4e8a34c237ddfc7bed5315 but haven't deployed yet.  Will probably do this weekend

[2017-09-09 02:13] #1155 closed

[2017-09-09 19:19] wanderrful opened #1157 "As a user, I should be able to filter out heroes with low matches played while reviewing hero performance."
When filtering my heroes played for ranked matches only, for example, I want to sort by winrate but there are too many heroes for which I have fewer than 5 games played.  I should be able to check a box or enable a filter to remove heroes for which I have fewer than some number of games played (e.g. 5, 10, 15).

[2017-09-09 19:21] howardchung commented on #1157
hmm, maybe we could enable this as a client side filter and make it a common component usable for any table

[2017-09-10 00:01] #1056 closed

[2017-09-10 00:02] #1040 closed

[2017-09-12 01:22] Phrynobatrachus commented on #145
any preference for the #861 Q? I could work on this.

[2017-09-12 04:59] howardchung opened #1164 "incorrect time in story"
reported via reddit:
https://www.reddit.com/r/DotA2/comments/6zj5g2/i_really_like_opendotas_attention_to_detail_but/?st=j7h4ne1g&sh=45bb6810

attn @drusepth

[2017-09-12 05:47] howardchung commented on #145
I think since react moved to the `prop-types` package the issue was resolved, you just import that package and use the types from it.

[2017-09-12 07:46] souravmondal93 commented on #1020
Any update on this? Should I take up this task?

[2017-09-12 07:47] howardchung commented on #1020
sure, you might want to sync with @mjhale to see if some of it was already done

[2017-09-12 07:49] souravmondal93 commented on #1020
Okay. @mjhale How much did you complete, so that I can take over from there?

[2017-09-12 22:39] dchasepdx commented on #1164
Hey,

I took a look at this one. It seems that for any match between 75 and 120 minutes it will return 'almost an hour'. I've got a quick fix that I'll make a pr for. It just changes 75 to 120 in the code below.
[code]

[2017-09-13 02:04] howardchung opened #1167 "make hero link to match in player match list"
requested feature via reddit

[2017-09-13 02:07] #1164 closed

[2017-09-13 16:35] howardchung commented on #1157
Implementing as a server side filter as an option as well, but takes a bit more work.  The advantage is that we can use the existing TableFilterForm component and just add a field.

[2017-09-13 16:36] #1121 closed

[2017-09-13 16:37] howardchung commented on #770
Plan is to just make the hero name link go to the match, see #1167

[2017-09-13 16:37] #770 closed

[2017-09-14 10:34] mjhale commented on #1020
I didn't get too far into this issue, @souravmondal93, but my changes are at [mjhale/ui/tree/lint-warnings](https://github.com/mjhale/ui/tree/lint-warnings). It mostly consists of search and replace edits along with the removal of a couple unused functions.

[2017-09-14 13:54] HellGate94 opened #1171 "Remove Image Alt Text in Story Mode"
even if the image fails to load the text is there anyway and it would show duplicated text. this duplicated text also shows when you try to copy paste. example:

"Radiant won a teamfight by trading NecrophosNecrophos and Death ProphetDeath Prophet for RubickRubick, Shadow ShamanShadow Shaman, and UnderlordUnderlord, resulting in a net worth increase of 314314 gold."

where it should be:

"Radiant

[2017-09-14 15:00] Darkitz opened #1172 "Additional info on spell-targets in the Casts-section"
For example a breakdown of how many times track has been used on each hero etc...

[2017-09-14 16:19] howardchung commented on #1171
I think lint rules require image elements to have alt text.

The images shouldn't be failing to load either, is this happening consistently?

[2017-09-14 16:23] howardchung commented on #1172
Possible, but requires update in odota/core to extract the targets of each spell

[2017-09-14 18:01] HellGate94 commented on #1171
html wants an alt text but it doesn't care if its empty so alt=""

also they don't fail to load but if they would then you would see the alt text + the manual text so its a duplicate like when you try to copy paste

[2017-09-15 17:51] #1150 closed

[2017-09-15 18:54] sikspoyntpayb opened #1176 "Outdated match records"
![image](https://user-images.githubusercontent.com/31998716/30498718-4ebdd556-9a8a-11e7-9764-6464fbe51f87.png)

[2017-09-16 02:25] howardchung commented on #1176
Could you describe in more detail what part is outdated?

[2017-09-16 06:13] blukai commented on #1176
@howardchung I think it's matches xd
@sikspoyntpayb If so, you need to expose public match data in dota 2 settings and then click refresh button in your opendota profile

[2017-09-18 07:19] LordVersA opened #1179 "no data for some players"
you dont have any data for some players like my profile :https://www.opendota.com/players/106757682

i press refresh alot and i login to steam but it still empty for me and my friends

[2017-09-18 11:15] n1085113 opened #1180 "Some things (like party status, permanent buffs, etc.) are not always parsed."
So I noticed some matches are properly parsed while some others are missing things like party status, permanent buffs, replay downloads, Jist's "Get Video", and maybe some more things.

Few examples of properly parsed: [this](https://www.opendota.com/matches/3430446902), [this](https://www.opendota.com/matches/3425941166), and [this](https://www.opendota.com/matches/3446096103).

Few examples of n

[2017-09-18 11:22] n1085113 commented on #1179
Have you enabled the in-game setting to share your match data?

Inside the game client, go to setting > Options tab > Advanced Options.
There, under the Social category, tick the "Expose Public Match Data"

After that, the site maybe will take some time to fill your past matches.

[2017-09-18 16:17] howardchung commented on #1180
The steam GC which is the source for this data has been somewhat unreliable lately.  I'll continue monitoring it and see if it improves

[2017-09-19 17:35] zaquille-oneil commented on #1157
anyone working on this? I could try working on a sliding filter for games played

[2017-09-20 03:50] howardchung commented on #1157
There was some discussion about whether the filter should be implemented server side (then on the UI side we'd just add another field to the existing TableFilterForm)

[2017-09-20 03:50] howardchung commented on #1157
Which way did you want to implement it (client or server side?)

[2017-09-20 03:52] zaquille-oneil commented on #1157
If we do it on the front end, it can be componentized and reused elsewhere. Not sure how the backend works though. Will we need a new end point to determine how many games were played when on the Heroes page?

[2017-09-20 03:57] howardchung commented on #1157
The endpoint already returns the number of matches played on each hero.  However, there is currently no query parameter to filter the returned data based on a minimum number of matches played:

https://api.opendota.com/api/players/88367253/heroes

[2017-09-20 07:00] hg1zadr opened #1181 "The MMR is not updating"
- Windows 10 x64
-1920x1080
-Chrome/60.0.3112.113
-https://www.opendota.com/players/116999199
![image](https://user-images.githubusercontent.com/23492419/30630632-3cffe7ec-9e03-11e7-8ec4-672b0f0065a8.png)

The actual issue is that the MMR is **not updating**, last update of solo Solo MMR was on May
and Party MMR was on August 2016.

[2017-09-20 07:10] howardchung commented on #1181
Did you follow the directions here?

https://blog.opendota.com/2016/01/13/opendota-mmr-and-you/

[2017-09-20 18:48] hg1zadr commented on #1181
ow :D Didn't knew that thx :)

[2017-09-20 18:48] #1181 closed

[2017-09-20 22:52] justmeeee opened #1183 "show age of MMR data"
I recently had a game with average 2.2k MMR.
When I review the game one player is shown as ~1.6k MMR. I know, that it shows the current MMR not the MMR during the game, but he couldn't have lost 600 MMR in 2 hours...

https://www.opendota.com/matches/3455767578

I had another game where a player is shown as 3k MMR.

Is this an issue with international ranked? If so can both MMR be shown?

[2017-09-21 03:50] howardchung commented on #1183
This player hasn't had their MMR visible for a year:
https://www.opendota.com/players/164482777/mmr

The value is outdated

[2017-09-21 03:52] #1179 closed

[2017-09-21 03:52] howardchung commented on #1176
I'll assume that's the issue, please comment/reopen if it's not

[2017-09-21 03:52] #1176 closed

[2017-09-21 03:53] #1167 closed

[2017-09-21 03:53] #1084 closed

[2017-09-21 13:35] LordVersA opened #1185 "how use Steam ID"
hi
i use Steam login and steam give steamID , how can i use that to use Opendota API too. OpenDota Need Dota Friend Id. How can i fix this problem?

[2017-09-22 01:54] howardchung commented on #1185
You can translate between the friend ID (32bit) and steam ID (64bit):
https://github.com/odota/core/blob/master/util/utility.js#L25

[code]

[2017-09-22 01:54] #1185 closed

[2017-09-22 07:26] justmeeee commented on #1183
Ah, ok, that explains it. Can we have that information in the overview on mouseover over the person icon (last updated:)?

[2017-09-22 07:28] howardchung commented on #1183
Yeah, I guess that'd be possible but would require adding some data to the database and pass it down to the UI

[2017-09-22 07:47] justmeeee commented on #1183
Great! :+1:
And also on player overview?

[2017-09-22 07:48] howardchung commented on #1183
Yeah it would be the same data.  The main thing is to add a column to the MMR table tracking when the data was collected.

[2017-09-22 07:49] justmeeee commented on #1183
I understand. It was just a question if you think that it's a good proposal ;)

[2017-09-22 07:51] howardchung commented on #513
I think the best solution for this is #1183 (showing how old the data is).  The user can then place the data in the correct context.

[2017-09-22 07:51] #513 closed

[2017-09-22 07:52] howardchung commented on #1180
Things seem to have improved so closing this issue.  It might pop up again from time to time, the solution is to request a re-parse when the steam GC is accepting replay salt requests :)

[2017-09-22 07:52] #1180 closed

[2017-09-22 14:24] Cossack13 opened #1188 ""x1" in some matches"
I see mark "x1" on some matches. I always play solo, but not all matches marked with the same sign.
![bug](https://user-images.githubusercontent.com/16056285/30749014-440586fc-9fdc-11e7-8f0c-cc5aacd463d2.PNG)

[2017-09-23 03:05] howardchung commented on #1188
The data is sometimes unavailable if the steam GC is not responding.  Requesting a re-parse should fix the issue

[2017-09-23 03:05] #1188 closed

[2017-09-23 11:31] howardchung opened #1189 "improve css maintainability"
Some thoughts on improving css maintainability:

* We should go one of two routes with CSS
  * Simplicity: Make it barebones, nothing but css-loader and style-loader in the webpack config
  * Power: If we decide we want more power, variables etc, then use javascript to add that functionality (like JSS)
* This means we avoid having to use semi-official solutions like postcss, which also isn't compa

[2017-09-23 12:22] blukai commented on #1189
I tried JSS some time ago, and I liked it. I think the use of JSS will be beneficial and will simplify much!
I can suggest creating a new directory in `src` called `styles` and store here `global things' like:
  - palette which contains colors
  - typography which contains text/font related stuff like font-sizes, weight..
  - theme which will be the global theme for body and app-container, I guess

[2017-09-25 04:36] TrentBartlem opened #1190 "Story mode: add Roshan and courier kills?"
Seems like the kind of thing that would be worth noting in story mode.

[2017-09-26 21:31] previsualconsent opened #1196 "Bug: combat grid has heroes on wrong side"
some of the dire heroes are with radiant and vice versa

https://www.opendota.com/matches/3465425218/combat

![image](https://user-images.githubusercontent.com/705855/30885212-f85c47b4-a2d7-11e7-8d8f-64fb200a9a7c.png)

[2017-09-26 21:40] previsualconsent commented on #1196
Huh, refreshed and went away. I had been browsing through the different tabs when this happened.
Maybe had to do with turning off heroes in the gold graph?

[2017-09-27 05:27] howardchung commented on #1196
If you can find a reliable repro please share

[2017-09-27 13:07] LordVersA opened #1197 "how to find gamemode ID"
how can i Find Game mode, Lobby Type,Patch,Lane Role,Region from their's ID ?

[2017-09-27 13:32] blukai commented on #1197
https://github.com/odota/dotaconstants/tree/master/build
https://github.com/odota/ui/blob/master/src/lang/en-US.json#L396

[2017-09-28 07:45] justmeeee opened #1198 "This user has visited recently, and replays of new matches will be automatically parsed - not?"
In Overview I have this green eye, telling me "This user has visited recently, and replays of new matches will be automatically parsed."

I ended my games 9-11 hours before now and they still havent got parsed. Can't imagine, that the queue is that long, is it?

https://www.opendota.com/players/31250349

[2017-09-28 14:40] #1197 closed

[2017-09-29 03:47] howardchung commented on #1198
Unfortunately the queue is like 87k matches right now:
https://www.opendota.com/status

There been been occasional slowdowns all month, hopefully it will be resolved within a few days.

[2017-09-29 03:54] howardchung commented on #314
let's roll this in to #1189

[2017-09-29 03:54] #314 closed

[2017-09-29 03:54] howardchung commented on #13
@albertcui I'm just going to close this because it's clear nobody wants to do it (and I don't think it applies to us anyway)

[2017-09-29 03:54] #13 closed

[2017-09-29 04:13] howardchung commented on #1190
Sure, @mdiller @drusepth any interest in adding this?

I think Roshan should already be in the objectives log, courier kills I don't think so yet though

[2017-09-29 04:35] TigleyM commented on #1020
Hello! Looking to give this issue a shot if it's still available.

[2017-09-29 04:37] souravmondal93 commented on #1020
@TigleyM Hey! You can go forward and start this task. I planned to work on it, but I am fairly new to React and after seeing the lint errors, I was unable to do it properly. You can go ahead and take this further.

[2017-09-29 06:55] howardchung commented on #1020
Feel free to split up lint fixes into multiple PRs to reduce conflicts and complexity.

[2017-09-29 08:02] denichodev commented on #1142
I am very interested in taking this. Need time to learn about the source first, though.

[2017-09-29 10:10] justmeeee commented on #1198
How is the data being processed? Even if there are avg 90k matches it seems to last too long (>15 hours). Which means that it takes at least 1.6s to parse a single match?

[2017-09-29 15:57] mdiller commented on #1190
Yep, Roshan is already in there. Courier kills sounds cool to add but we'd have to add it to core

[2017-09-29 16:21] howardchung commented on #1198
It's not due to parsing time, it's due to not being able to fetch the replay so we can't even start

[2017-09-29 16:24] howardchung commented on #1142
Sure!  This is a larger feature and will require implementing API endpoints in odota/core.  If you know what kinds of data you want to display, I can help with that part

[2017-09-29 18:04] drusepth commented on #1190
Do we have any documentation on how to add something to core + use it in UI? I'd probably be up for this when I get some spare time, unless someone else has tackled it first.

[2017-09-29 18:19] justmeeee commented on #1198
And why is that? You don't need to fetch the entire replay, it's an xml, or not?

[2017-09-29 18:41] farmasek commented on #1020
I would like to start here with this aswell, how should we split it ?

[2017-09-29 18:46] TigleyM commented on #1020
@farmasek Perhaps we can split it by lint warning rule ? I noticed a lot of warnings had to do with `no-shadow`, `forbid-proptypes`, `no-array-index-key` etc...

[2017-09-29 18:52] farmasek commented on #1020
Okay we can split it by rules i will start with ```(jsx-a11y/alt-text)``` if you hadn't already

[2017-09-29 18:54] TigleyM commented on #1020
Sounds good to me, I will start with `no-array-index-key`

[2017-09-29 19:06] farmasek commented on #1020
I will take ```(no-shadow)``` next

[2017-09-29 19:42] farmasek commented on #1020
Created PR for what i've done so far, so we dont have a lot conflicts. i fix ```forbid-prop-types``` next

[2017-09-30 02:48] howardchung commented on #1198
Queue is drained now, although this issue may recur from time to time.

The replay file is a binary .dem file.  However we need to make a request to the Dota 2 GC to know where to get the replay file.  If those requests aren't getting through then the replay parsing is blocked.

[2017-09-30 02:48] #1198 closed

[2017-09-30 02:49] howardchung commented on #1190
No official documentation, although I can help with getting you pointed in the right direction.  Check the files in the `processor` directory which read the event logs emitted from the parser.  You can add those events to the `objectives` array and then access it from the API (you wouldn't need to make any schema changes that way)

[2017-09-30 17:57] sjaiuf opened #1202 "Suggestion?"
Can we have info about what items left on the ground at game end?

[2017-09-30 18:50] howardchung commented on #1202
I don't think we're currently tracking the data, but it might be possible to read from the replay.

[2017-10-01 05:40] howardchung commented on #1189
Currently working on moving components over to `styled-components`.

Will push a new branch and make a WIP PR soon, I'm slowly moving components over starting from the top alphabetically.  If someone else wants to help with this you could start at the bottom and we can meet in the middle :)

[2017-10-01 08:57] Steffo99 commented on #1171
This should be closed.

[2017-10-01 08:57] #1171 closed

[2017-10-01 15:07] murilodag commented on #145
Hello @howardchung, could I work on this issue?

[2017-10-01 16:25] howardchung commented on #145
Yes, of course!

[2017-10-01 16:26] murilodag commented on #145
Should I open one PR  per component or a single PR for all of them?

[2017-10-01 16:27] howardchung commented on #145
You can probably just open one for all of them.  I'm working on moving the CSS over to styled-components in #1203 , hopefully it won't conflict too much

[2017-10-01 22:07] #145 closed

[2017-10-02 07:14] dricholm commented on #614
Can I do this?
I am new to React and both contributing but this does not seem difficult.

Just need some icons for them. I found the default minimap icons on the Dota2 wiki, but only in black and white. Should I just repaint them with green/red?

[2017-10-02 07:27] howardchung commented on #614
Sure.  I'm currently in the middle of moving a lot of CSS around (including in the vision map, so you might want to wait a couple of days until #1203 is merged to avoid conflicts

[2017-10-03 05:47] howardchung commented on #1136
As a quick check I did the following on a match overview:
[code]

I checked some other tabs and couldn't find a value over 1000.

Also, it appears that tooltips are not getting unloaded from the DOM.  You can verify this by mousing over a bunch of tooltips and then checking the number of nodes with the above command.

[2017-10-03 05:50] howardchung commented on #1136
I did a quick check on graphs tab and also got over 4000, so it seems like the c3 graphs are very DOM node heavy.  Perhaps we could build a more efficient visualization of gold/xp over time for the overview tab?

(and perhaps think about switching out c3 for a more efficient library)

[2017-10-03 05:53] howardchung commented on #540
We may also want to think about switching from c3 to something else for the following reasons:
* It gets pretty slow on large graphs
* It's one of the largest dependencies in the JS bundle
* c3 doesn't seem to be very actively developed anymore (e.g. it still won't work with d3 v4)

[2017-10-03 05:59] farmasek commented on #1136
I have pretty good experience with [Recharts](http://recharts.org/#/en-US) as a graph library.

[2017-10-03 06:00] howardchung commented on #1136
Do you want to play with it and maybe switch a graph over to use it for a demo?

[2017-10-03 06:02] farmasek commented on #1136
ye sure, i will look into it and overall into this performance issue.

[2017-10-03 06:41] dricholm opened #1206 "Sorting table broken"
Sorting table seems to be broken with the latest version on git.
I found the cause and the fix, which seems to be related to a commit three days ago. (#1200)

Can I submit a pull request to fix this?

Thanks.

- **OS**: Windows 10 x64
- **Screen Resolution**: 3840x2160
- **Browser/Version**: Firefox 57.0b3 Developer Edition, Chrome 61.0.3163.100
- **Link to page with the issue**: /matches/34797267

[2017-10-03 06:42] howardchung commented on #1206
Sure!

[2017-10-03 06:48] dricholm commented on #1206
Thanks, I will submit the PR today.

[2017-10-03 14:42] #1206 closed

[2017-10-03 18:44] farmasek opened #1211 "Implement server side pagination"
**Implement pagination through backend.**

Currently is on [Search page](https://www.opendota.com/search?q=a) fetched hundreds of items and sliced on frontend when going through pages.

Better practice would be to requesting backend for paginated items on page change. It should also lead to performance improvement.

[2017-10-04 06:49] #1189 closed

[2017-10-04 06:55] howardchung commented on #540
@farmasek will explore using http://recharts.org/#/en-US

[2017-10-04 07:12] howardchung commented on #753
It seems the lodash/fp module contains the debounce and findlast functions, so I was able to remove those deps for some savings.

Optimally, we'd still remove lodash as a dependency to save more space, but probably the returns from this are less than figuring out how to avoid bundling dotaconstants abilities or language files.

[2017-10-04 07:12] #753 closed

[2017-10-04 07:34] farmasek opened #1212 "Login button without styles"
On [Stage opendota](https://stage.opendota.com/)

Login button in right top corner has no styles.

![image](https://user-images.githubusercontent.com/13397916/31164306-de8484b8-a8e6-11e7-8583-94bebaf4a602.png)

[2017-10-04 07:51] howardchung opened #1213 "react/forbid-prop-types warnings"
According to:
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/forbid-prop-types.md

`array` and `object` should be replaced with `arrayOf` and `shape`

[2017-10-04 08:41] cmd-kvn commented on #1213
Hi @howardchung I'd like to try this!

[2017-10-04 08:45] howardchung commented on #1213
Go for it!  Fixes are pretty straightforward, just make sure to sync to latest before you start.  I fixed about half of the warnings in the last hour or so, but I'll probably be taking a break now so feel free to continue

[2017-10-04 09:18] dricholm commented on #1212
Can I look into this?

[2017-10-04 11:02] farmasek commented on #1212
Sure, keep in mind to use styled-components.

[2017-10-04 12:53] #1212 closed

[2017-10-05 02:49] #614 closed

[2017-10-05 06:25] #1213 closed

[2017-10-05 08:01] cmd-kvn commented on #1213
@howardchung looks like you finished just before me. I'll be on the lookout for other opportunities to contribute.

[2017-10-05 08:02] howardchung commented on #1213
Yeah, I was feeling productive earlier this evening.  Lots more issues tagged with `beginner` or `hacktoberfest`!

[2017-10-05 08:03] howardchung commented on #1136
I think this will be fixed with migration to recharts, let's roll this into #540

[2017-10-05 08:03] #1136 closed

[2017-10-05 08:04] howardchung commented on #1020
#1201 should fix the last of these, there is one no-shadow left that I haven't tried to fix so far.  It's a bit tricky to fix without breaking the sorting functionality

[2017-10-05 12:33] dricholm commented on #598
I can do this if it is still needed.

Should it display all heroes and show somehow that a hero has died? ("died" or an icon?)

[2017-10-05 16:23] howardchung commented on #598
You can fix with the same PR

[2017-10-05 22:11] Natk60 opened #1222 "Laning page hero selection and sort function"
On the Laning page for a game, if a hero is selected using one of the radio buttons, then the hero table is sorted, the selected radio button will not follow the hero you had selected

Image: https://i.imgur.com/hzvvbvS.png
Queen of Pain has been selected, however the button next to is selected.

Example:
Go to https://www.opendota.com/matches/3484951813/laning
Select queen of pain
Sort by EFF@10

[2017-10-06 03:52] #1222 closed

[2017-10-06 06:07] howardchung commented on #1142
I'm hoping to implement the three endpoints above in the next few days.  Stay tuned!

[2017-10-06 11:32] dricholm opened #1224 "Teamfight tab display bugs"
On the Teamfight tab in the table the player column is displaying different than before: image and player name+MMR have a line break between them making the table a bit weird.

Also on the same page under the map the gold and death display is gone now.

Before:
![image](https://user-images.githubusercontent.com/32329112/31276268-f8f6b212-aad5-11e7-9005-35eaf8687cc7.png)

After:
![image](https://us

[2017-10-07 02:09] #598 closed

[2017-10-07 02:10] howardchung commented on #1224
Display:
I think just putting back the gold change display will be fine

Hero line break;
Yeah, if you know how a fix would be appreciated!

[2017-10-07 02:28] dricholm commented on #1224
So under the map only the gold should be shown? Remove radiant/dire logo and death count?

About the hero line break I have been trying, but couldn't find a fix yet.
Somehow the table seems to behave differently. For example the old one was placed below the map at <1200px width. With the new version it changes <1088px.

[2017-10-07 02:49] howardchung commented on #1224
It might be due to the table not taking up the whole width.  Maybe we can make the map smaller or shrink/reduce a column?

[2017-10-07 04:03] #540 closed

[2017-10-07 07:39] #1224 closed

[2017-10-07 16:57] Luchanso commented on #1143
I can try to do this, but where take data for it?

[2017-10-07 19:18] howardchung commented on #1143
The endpoints need to be implemented on odota/core.  You can check the table schema and test SQL queries using the Explorer.

I can also help with this, but I'll probably be implementing the team endpoints first.

[2017-10-07 20:07] howardchung opened #1232 "localize string"
This string should be moved to the string file `src/lang/en-US.json`

https://github.com/odota/ui/blob/49b05dd3300ca338790481c027217aa0c691e784/src/components/Match/Overview/Overview.jsx#L73

[2017-10-07 20:54] Luchanso opened #1233 "Bug with burger menu"
I found bug in BurgerMenu - when I tap on element, menu don't close.

[2017-10-07 20:54] howardchung commented on #1233
yeah, I'm actually looking at that now

[2017-10-07 20:58] Luchanso commented on #1233
If you change `onTouchTap` on `onClick` it will be working

[2017-10-07 20:58] Luchanso commented on #1233
In BurgerMenu.jsx:41

[2017-10-07 21:03] Luchanso commented on #1233
If you wan't i can fix it and fix PropTypes in BurgerMenu?

[2017-10-07 21:09] howardchung commented on #1233
There's actually a separate issue where only the text part of the link actually works, so I'm looking into fixing that as well

[2017-10-07 21:20] #1233 closed

[2017-10-07 22:10] ThePhantomGamer commented on #1232
Hi, can I take up this issue?

[2017-10-07 22:16] dhelic98 commented on #1232
@howardchung  Hello, can I take up this issue?

[2017-10-07 22:19] howardchung commented on #1232
Either one of you can, it should be pretty quick

[2017-10-07 22:20] ThePhantomGamer commented on #1232
I have done this in #1236

[2017-10-07 22:24] #1232 closed

[2017-10-08 02:48] howardchung opened #1242 "Make recharts responsive on mobile"
Might be as simple as wrapping the charts in the ResponsiveContainer that Recharts provides, but I haven't investigated.

[2017-10-08 02:59] maridilip commented on #1242
Solo MMR Distribution
- Is this chart to me made responsive?

[2017-10-08 03:02] howardchung commented on #1242
There are a bunch of them, they are all in the Visualizations/Graphs directory though

[2017-10-08 03:04] maridilip commented on #1242
http://localhost:3000/Visualizations/Graphs this url returns no graphs

[2017-10-08 03:22] howardchung commented on #1242
I was referring to the code in `src/components/Visualizations/Graphs`.  You can edit the DistributionsGraph file to see if the responsive container works for the MMR Distribution graph

[2017-10-08 06:48] howardchung commented on #1142
implementation in:
https://github.com/odota/core/pull/1539

New endpoints are:
/teams/{teamId} for one team's data
/teams/{teamId}/matches for a team's matches
/teams/{teamId}/players for players who have played for that team
/teams/{teamId}/heroes for heroes the team has played

[2017-10-08 06:50] denichodev commented on #1142
Nice, now I don't have to fetch all team and filter it now.

I will continue working on this, but currently I am busy preparing for a job interview, will do it after this hectic week!

[2017-10-08 06:53] howardchung commented on #1143
Proposed API endpoints to add:
/heroes/{heroId}/matchups: returns games played and wins against all other heroes (for pro matches)
/heroes/{heroId}/matches: return most recent games played with this hero
/heroes/{heroId}/durations: return games played and wins for each bucket of 5 minutes

[2017-10-08 06:56] howardchung commented on #1143
see this PR for an example:
https://github.com/odota/core/pull/1539

I might do this tomorrow if I have some time

[2017-10-08 07:07] howardchung commented on #974
Copying comment from @TheOriginalSoni:

Apart from that, there's a side issue of "If ironwood branches/buckler is used, that does not count as mekanasm usage", which seems to be the case right now.

Suggested pseudocode to solve a number of these issues -

[code]

This pseudocode always takes the highest cost item of a particular item_group (that the player has purchased), and considers that item'

[2017-10-08 07:18] #1242 closed

[2017-10-09 01:58] howardchung commented on #1143
Endpoints implemented in:
https://github.com/odota/core/pull/1542

[2017-10-09 03:29] howardchung commented on #1148
Implemented the data endpoint in:
https://github.com/odota/core/pull/1543

Once it's deployed anyone who's interested can start working on the UI

[2017-10-10 20:41] dchasepdx commented on #1157
Hey @zaquille-oneil, are you still working on this one? I've been thinking about a solution. Maybe we could collaborate on it.

[2017-10-10 23:27] zaquille-oneil commented on #1157
I haven't started. Let's collab

On Tue, Oct 10, 2017 at 1:41 PM, David Chase <notifications@github.com>
wrote:

[2017-10-11 08:52] farmasek commented on #1211
I will make it as PoC implementation using GraphQL

[2017-10-12 01:34] JazzyJosh commented on #974
@howardchung I can look into this.

[2017-10-12 07:05] howardchung commented on #974
Sure, sounds good!

[2017-10-12 07:40] dricholm commented on #910
It seems that this has been inactive for a while so I started implementing it.
I can submit a PR for hero icons soon.

Currently I have it like this: Display the player icon on the corresponding lane and have a React Tooltip for it where I can say whether the player is roaming or not. Is this way okay?
Also was wondering about the size and positions of the icons.
Any other recommendations or toolt

[2017-10-12 16:26] howardchung commented on #910
LGTM.  Is it possible for the icons to cover the buildings if say, everyone goes mid?

[2017-10-12 16:54] howardchung opened #1256 "Kills/damage table compressed on mobile"
https://www.opendota.com/matches/3491795496/combat

View in mobile/emulator, we should probably stack the tables

[2017-10-13 00:02] dricholm commented on #910
I modified it somewhat from before: made the icons smaller and adjusted positions a bit.
No buildings or other heroes can get covered.

For example even if I add everyone to every lane on their own team (this looks a bit confusing but can never happen, it would mean 20v20):
![image](https://user-images.githubusercontent.com/32329112/31524466-d6566558-aff4-11e7-9d74-102e5bd53e63.png)

Normally it l

[2017-10-13 03:48] cassiewang commented on #1256
May I take this? :)

[2017-10-13 04:12] pritishvaidya opened #1257 "Histogram Fields"
I was able to figure all the histogram field names from the opendota.com, but could you provide me the valid fields for `Observers Purchased`, `Sentries Purchased`, `Gems Purchased`, `Rapiers Purchased`, `Actions Per Minute` and `Map Pings` since I was not able to find them in the docs.

[2017-10-13 10:46] howardchung commented on #1256
fixed in #1258

[2017-10-13 10:46] #1256 closed

[2017-10-13 10:52] howardchung commented on #1257
https://github.com/odota/ui/blob/49b05dd3300ca338790481c027217aa0c691e784/src/components/Player/Pages/matchDataColumns.js

[2017-10-13 10:52] #1257 closed

[2017-10-14 07:30] #910 closed

[2017-10-14 12:10] Luchanso opened #1261 "Bug in sortFn, in Table"
I found bug with sort function, in [components/Table/Table.jsx#L148](https://github.com/odota/ui/blob/master/src/components/Table/Table.jsx#L148)

sortFn must be like default sort with two arguments f(a, b)

[2017-10-14 19:30] howardchung commented on #1261
This is not exactly a bug but I agree the behavior is a bit unintuitive.  Basically each column needs to define a function that returns a value in the sortFn field and the table internally sorts those values.

Passing a compare function (a,b) probably makes more sense but would require refactors to a lot of table columns.  We would also need to figure out how to handle inverted sorts (the table ne

[2017-10-14 19:38] Luchanso commented on #1261
Yes, you sure, need think about it

[2017-10-14 19:42] howardchung commented on #144
Now that the project is a standard `create-react-app` project you can use their testing convention, based on Jest:

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#running-tests

[2017-10-15 01:16] SomeNiceDude commented on #1183
I dont know why they refuse to do it so badly. Please add it.

[2017-10-15 03:13] howardchung commented on #1183
No one's refusing to do it, but someone has to volunteer to actually write the code :)

[2017-10-16 15:23] WillyWinkel opened #1263 "Invert color bar logic for time dead"
I would like to suggest an enhancement.

Considering the match details -> Performance -> color of the time dead bars.
Assuming a good time dead is short, and assuming a green color indicates a good performance, I would suggest to enhance the experience by turning the scale around.
Thereby short death would be shown green and long death red.

[2017-10-16 19:21] CauchyAbel commented on #1263
I will take a look at this one today, doesn't seem too hard to implement.

[2017-10-17 03:26] previsualconsent commented on #1196
this is reliable for me
Go here:
https://www.opendota.com/matches/3506394403/laning

sort by eff@10 and then click Combat

Browser:
Google Chrome
Version 61.0.3163.100 (Official Build) (64-bit)

Microsoft Windows 10

[2017-10-17 03:27] howardchung commented on #1196
Ah OK, it seems the problem has to do with the sorting reordering the players so that 1-5 are no longer radiant and 6-10 are no longer dire.

[2017-10-17 03:31] howardchung commented on #1263
IIRC there was a discussion about this previously and apparently these are the colors that are used in the client, so we kept it for consistency.  Can't find the thread ATM, I think @dartharaknus was involved in the discussion?

[2017-10-17 03:47] howardchung commented on #1190
fixed in #1255

[2017-10-17 03:47] #1190 closed

[2017-10-17 03:47] CauchyAbel commented on #1196
Starting on this, trying my best :)

[2017-10-17 03:49] howardchung commented on #1142
It would be nice to be able to track the Qualifying Points for teams/players as well, but I am not sure if there is an official API for this.

We can scrape from http://www.dota2.com/procircuit but it would be nice to avoid doing that

[2017-10-17 08:08] superoo7 opened #1266 "Progressive Web App (suggestion)"
I would like to suggest a few [progressive web app](https://developers.google.com/web/progressive-web-apps/) approach of making this site.

- [x] Mobile Icon on iOS and Android (Add to Home Screen)

I sent a pull request on this [#1265](https://github.com/odota/ui/pull/1265)

- [x] enable service worker (it was disabled, I want to know why)

pull request on this [#1265](https://github.com/odota/ui

[2017-10-17 10:58] howardchung commented on #1266
I had some issues with the site not loading when the service worker was enabled.  It started working again when I added the unregister call, not sure what the problem was

[2017-10-17 11:54] superoo7 commented on #1266
I have hosted the web ([https://superoo7-odota.surge.sh/](https://superoo7-odota.surge.sh/)), tested on chrome, no issue.

Google lighthouse report, [before 64/100](https://odota-result.surge.sh/before.html) and [after 91/100](https://odota-result.surge.sh/after.html)

[2017-10-17 11:55] howardchung commented on #1266
OK, submit a PR and we can test it on stage

[2017-10-17 11:56] superoo7 commented on #1266
Alright I sent a pull request to re-enable service worker. Should I include package-lock.json?

[2017-10-17 11:59] superoo7 commented on #1266
![22553468_10209895288594094_445158864_o](https://user-images.githubusercontent.com/15358452/31663686-860779f0-b375-11e7-85c9-1387d9b3bfcf.png)![22563883_10209895288434090_931246752_o](https://user-images.githubusercontent.com/15358452/31663690-89b0d998-b375-11e7-8a84-f3e33be9a2c2.png)

Tested on Android with Chrome

[2017-10-17 12:15] howardchung commented on #1266
Did package-lock change?  This shouldn't require installing any dependencies?

[2017-10-17 12:17] superoo7 commented on #1266
I think I build it then it updates, I did not include package-lock.json in my commit.

[2017-10-17 12:22] howardchung commented on #1266
Does the service worker handle things properly if the file name changes?  I think previously the issue was that the js bundle name changed (since it has a hash in the file name) and then the service worker was trying to reload the old bundle.

[2017-10-17 12:25] superoo7 commented on #1266
I never publish or tested web that created with create-react-app on service worker. I normally use this [plugin](https://github.com/NekR/offline-plugin) for progressive web app because it caches automatically and created service workers. However, this requires to eject the project out from create-react-app.

[2017-10-18 04:25] coreymaher opened #1269 "Sum tables in the "Farm" tab"
None of the tables in the Farm tab have totals. I think that would be a useful addition.

[2017-10-18 20:27] drusepth opened #1271 "Ability draft skills on match page"
In ability draft matches ([this one, for example](https://www.opendota.com/matches/3509547800)), it'd be nice to have a visual display of which skills each hero drafted (instead of trying to parse each skill out of the ability build chart, as I do now) somewhere on the match's page.

[2017-10-19 02:25] steventsao commented on #1101
I can give this one a shot @howardchung

[2017-10-19 02:27] howardchung commented on #1101
Sure, that'd be great!

[2017-10-19 02:28] howardchung commented on #1271
I assume it would be possible to compute this client-side by iterating over the ability upgrades?

[2017-10-19 22:34] CauchyAbel commented on #404
This one doesn't seem to be valid any more?

[2017-10-20 02:53] howardchung commented on #404
I am not sure if it is.  @dartharaknus do you have a link to a repro?

[2017-10-21 12:10] N1ggaz opened #1273 "MMR"
I already have add my MMR to my profile card, even so, opendota can´t track this. Help!

[2017-10-21 21:35] BrownLiquor opened #1274 "Stats not mapped?"
Hello,

I signed up last week, and none of my stats/matches are linked to my profile. Is this a bug, or is it something I did correctly?

I appreciate the help!

[2017-10-21 22:26] howardchung commented on #1274
Have you enabled "Expose Public Match Data" in the client?

[2017-10-21 22:27] howardchung commented on #1273
Have you played at least one ranked match since doing so?

[2017-10-22 07:47] Mattkill94 opened #1275 "My Profile in opendota doesn't work."
I'd like to see my stats at opendota, because I'm already level 40 and I can't see any of my statistics. I hope that this issue can be resolved by the community.
Thanks for the attention. Hope that you read my message.

M. Cunha - Hidalgo

[2017-10-22 08:12] howardchung commented on #1275
Have you enabled "Expose Public Match Data" in the client?

[2017-10-22 17:46] artolio opened #1276 "MMR after battle pass"
My mmr does't track after switch with battle pass mmr.
Expose Public Match Data is enabled .

[2017-10-23 01:07] howardchung commented on #1276
Have you played a ranked match since?

[2017-10-24 05:44] artolio commented on #1276
yes, and mmr is visible at my dota profile

[2017-10-25 00:42] howardchung opened #1277 "Add OpenAI to sponsors list"
OpenAI recently donated $12,000 to the project.

We should add their logo to our sponsors list on the home page.

https://openai.com

[2017-10-25 01:31] terenceponce commented on #1277
I'm on this right now. Unfortunately, it looks kind of bad because it looks too small compared the rest of the logos.

<img width="854" alt="screen shot 2017-10-25 at 9 28 19 am" src="https://user-images.githubusercontent.com/376472/31975952-17bc53a6-b967-11e7-9a15-48cb134da5ea.png">

I'll try to find other logos that we can use. The one in the screenshot is from their official site.

[2017-10-25 01:41] imwally commented on #1277
Oh, @terenceponce  that was quick!

I had the same issue but I was able to find a more horizontally aligned logo in black which I inverted to white.

<img width="946" alt="screen shot 2017-10-24 at 9 38 14 pm" src="https://user-images.githubusercontent.com/129967/31976170-d4af2d94-b903-11e7-863c-d7323f9ebea3.png">

[2017-10-25 01:45] terenceponce commented on #1277
@imwally yours is better. I also went through the same thing, but you beat me to the punch.

<img width="948" alt="screen shot 2017-10-25 at 9 44 33 am" src="https://user-images.githubusercontent.com/376472/31976290-35f492d2-b969-11e7-9a38-1fb3718dc3bb.png">

You should do the honor of creating the PR for this.

[2017-10-25 07:21] #1277 closed

[2017-10-25 07:22] howardchung commented on #1276
Can you provide a link to your profile?

[2017-10-25 07:31] artolio commented on #1276
ofc
http://steamcommunity.com/id/artolio/

[2017-10-25 10:50] Assaders opened #1280 "Player groups in match statistics"
When sorting is applied, player group bindings acting strange:

![1](https://user-images.githubusercontent.com/19349290/31994972-38104166-b98b-11e7-805f-6a99fb5b2ce0.png)

Maybe need to disable sorting like on Dotabuff?

[2017-10-25 12:20] Luchanso commented on #1140
Can you write more information about it?

[2017-10-25 14:02] Luchanso commented on #771
@howardchung, what's need change in pr #756?
Can I'll add this data in second column on the bottom?

[2017-10-25 17:40] blukai commented on #1140
@Luchanso
Create the "Message" component and display log events similar to messages on the chat tab, like this:
![image](https://user-images.githubusercontent.com/20866892/32013716-9cf0ba5a-b9c4-11e7-8c5e-039805910a7f.png)
Also maybe make filters (kills, objectives, runes) like on the chat tab

[2017-10-26 03:50] howardchung commented on #1280
@blukai any ideas how to handle this?

I think we should keep sorting since it's a useful feature.

[2017-10-26 04:08] colinfike commented on #1142
Hey whats the status of this? Looking for an issue (or part of one) to work on.

[2017-10-26 04:20] howardchung commented on #1142
I think the APIs are implemented on the backend but not sure what the status is on UI.

@denichodev can you push what you have and make an early PR?

[2017-10-26 08:27] howardchung commented on #1276
Approximately when did you switch your MMR to battle pass MMR?  Updates aren't necessarily guaranteed after each match, so if you only played one game since it may not have picked up.

[2017-10-26 08:39] artolio commented on #1276
switched my mmr in september.
i have been played a lot of matches after swithcing mmr. but data still not updated since september

[2017-10-26 08:53] howardchung commented on #1276
When was Expose Public Match Data enabled?  Was it just recently enabled or has it been on since September?

[2017-10-26 09:01] artolio commented on #1276
it was enabled before septermer, and everythings work's fine before switching mmr

[2017-10-26 09:16] howardchung commented on #1276
I was able to force an update via manually inserting a job into the queue:
`redis-cli lpush mmrQueue "{\"account_id\": 86745300, \"match_id\": 3517226234}"`

It seems like the update code is working properly, but not sure why the MMR values weren't being picked up.
If it continues failing to update after ranked matches, please let me know and I'll investigate further.

[2017-10-26 09:23] howardchung commented on #1263
I misread this issue originally, this is referring to the green->red scaling for time dead, not the K/D/A bar color scheme on the matches list.

[2017-10-26 09:25] artolio commented on #1276
thank u.
btw, same trouble at dotabuff)

[2017-10-26 10:10] blukai commented on #1280
Have no idea, but I'll try to find out.

[2017-10-26 13:23] hntd187 opened #1282 "You should be able to hide your MMR on your profile."
Dotabuff has a feature where you can hide your MMR in your public profile, which I think would be useful here.

Otherwise for me it shows a 2 year old MMR which is otherwise wrong. I could probably implement this myself with a bit of guidance on what would be needed in the back end, but I'd imagine UI side it'd just be return it or don't return it.

[2017-10-26 14:35] denichodev commented on #1142
@howardchung Hi, sorry for the delay, just got a new job and I think I can't work on this more.

@colinfike There's not a lot that I've done, only dynamic /:teamId routes, and a page component. If you want me to make an early PR on this, tell me.

[2017-10-26 16:23] howardchung commented on #1282
Rather than hide it I think the consensus is to show how old it is so the data is in the proper context:
https://github.com/odota/ui/issues/1183

[2017-10-26 17:17] hntd187 commented on #1183
I am volunteering to write it. Like I said I just need a bit of guidance about what would be required to do it properly.

[2017-10-26 18:29] colinfike commented on #1142
Yeah if you don't mind can you just push your branch and make a PR of what you have thus far? I'll take a look at what you have when I'm checking this out.

[2017-10-28 08:33] howardchung commented on #1183
Few steps needed:
* Check out https://github.com/odota/core
* Add updated_at columns to solo_competitive_rank and competitive_rank tables (https://github.com/odota/core/blob/master/sql/create_tables.sql#L394)
* Update the insertion function to put the current time in the database (https://github.com/odota/core/blob/master/store/queries.js#L449)
  * It's already available in the row object as row.t

[2017-10-29 06:52] #1282 closed

[2017-10-30 10:03] wanderrful commented on #1157
While trying to make progress with this -- I look at the other filters referencing a "data" variable... but I don't know where that data variable is defined.  Because of that. I can't figure out where the actual logic for applying the filter is supposed to go.

[2017-10-30 10:05] howardchung commented on #1157
which code?

[2017-10-30 10:45] wanderrful commented on #1157
@howardchung I forked the project, made a branch for the feature request and added this commit to highlight where I'm at:  https://github.com/wanderrful/ui/commit/b7636339a057fd61ba0d54b69118b45090ae0bf9

I included details in the commit description at the top of the page.

[2017-10-31 08:04] howardchung commented on #1157
The code you've edited is the displayFn.  This just determines how the column renders the current row into a table cell.

Since you want to filter on the rows of the table, you need to edit the Table component:
https://github.com/odota/ui/blob/master/src/components/Table/Table.jsx#L133

(see the existing code for how the Table handles sorts and pagination)

[2017-10-31 09:06] #1263 closed

[2017-10-31 09:06] #1269 closed

[2017-10-31 11:05] wanderrful commented on #1157
I have an example implementation of the filter placed here in this commit (I reverted the change made in that second link from earlier):  https://github.com/wanderrful/ui/commit/7b316eb8398c580dba30585349d5af1607756239

I only need to find out the proper way to get that filter value now and then I think we have a working feature.

[2017-10-31 11:33] howardchung commented on #1266
It appears that the current version of the code won't load on the first visit after an update because it can't find the older version of the javascript bundle.

According to registerServiceWorker it only loads the latest data in the background during the failed page load, so the initial load won't work.

https://github.com/odota/ui/blob/master/src/registerServiceWorker.js#L6

I don't know if this

[2017-10-31 11:41] howardchung commented on #1266
The error is an "unexpected token <" error in the javascript console.  It's possible this is due to the netlify configuration that causes it to serve index.html regardless of the path requested (this is to support client side routing).

I'm not sure if the service worker expects a 404 response in order to identify that a file no longer exists/has changed

[2017-10-31 23:54] coreymaher opened #1288 "Match graph hero labels should highlight data"
Match graph labels used to highlight the hero line when hovered over. That feature should be reimplemented.

[2017-11-01 01:22] coreymaher commented on #1020
I've added some more eslint fixes to #1290

[2017-11-01 02:23] coreymaher opened #1291 "Match skill level missing from match page header"
I'm not sure if this was left off on purpose, but I think it would be nice to see the match skill from Valve's API in the match page header.

[2017-11-01 15:59] ABigg opened #1294 "Handle new heroes in Combat and Log Tabs"
Clicking the Combat or the Log tab in matches where the new heroes have been played results in this:

![opendotesbug](https://user-images.githubusercontent.com/33290444/32283778-f260e30e-beea-11e7-8a84-1dd3ee1a19b6.png)

The issue can also be replicated on Chrome:

![opendotabug2](https://user-images.githubusercontent.com/33290444/32283880-39ae9d50-beeb-11e7-8cdd-9ed8a3ec3851.png)

It doesn't seem

[2017-11-01 17:33] hematic opened #1295 "Unparseable match yesterday"
https://www.opendota.com/matches/3534483261

This match will not parse either with me clicking the request parse button on the website, or via me sending the proper post to the rest API.

[2017-11-01 17:36] howardchung commented on #1295
Likely related to https://github.com/skadistats/clarity/issues/150

@spheenik is looking at it

[2017-11-01 17:37] hematic commented on #1295
Well, cant ask for more than that ;)

[2017-11-01 21:40] spheenik commented on #1295
Should work now. Plz test with newest 2.2-SNAPSHOT.

[2017-11-02 02:50] howardchung commented on #1294
Issue is fixed by adding new heroes to hero list, but we should still handle this without crashing

[2017-11-03 03:34] howardchung commented on #1295
Looks like it's working now!

[2017-11-03 03:34] #1295 closed

[2017-11-05 10:20] tobyfloyd opened #1299 "vision tab still uses 7.06 map"
the vision tab still uses the  7.06 mini map instead of the new 7.07 map.

[2017-11-05 10:46] howardchung commented on #1299
do we have a new map image to use?

[2017-11-05 15:55] tobyfloyd commented on #1299
yeah there is a new one.

you can find for example at the dota 2 wiki:

https://dota2.gamepedia.com/Minimap
https://dota2.gamepedia.com/File:Minimap_7.07.png

-----Ursprüngliche Mitteilung-----
Von: Howard Chung <notifications@github.com>
An: odota/ui <ui@noreply.github.com>
Cc: tobyfloyd <rrealtobi@aol.com>; Author <author@noreply.github.com>
Verschickt: So, 5. Nov 2017 11:46
Betreff: Re: [odota/

[2017-11-07 05:42] howardchung opened #1302 "add removed item data to dotaconstants data files"
Related to the issue reported here:
https://www.reddit.com/r/DotA2/comments/7b7b5b/open_dota_bug_with_the_builds_showing_spirit/?st=j9p6qj0z&sh=a3e98d71

Diffusal blade 2 has been removed from the game and therefore isn't in the game client files anymore.  We need to update the dotaconstants update script to manually put these items back into the the data files:
* poor man's shield
* iron talon
*

[2017-11-07 05:44] #1291 closed

[2017-11-07 05:45] #974 closed

[2017-11-07 05:45] #1196 closed

[2017-11-07 05:47] #1288 closed

[2017-11-07 07:09] howardchung opened #1304 "Matches/Teams/Heroes/Records missing loading animation"
We should use the Container component which already has the loading animation integrated to wrap these components.

[2017-11-07 20:27] DireCorgi commented on #1304
The issue here is the `loading` prop is not being passed down to the Table component, from Matches/Teams/Heroes/Records. I'll submit a fix for this. The loading spinner logic already exists on the Table component.

[2017-11-07 21:33] patrickdevarney opened #1306 "Story tab gold difference text overlaps"
Gold difference amount and percentage overlaps total gold shown. Is usually noticed on higher resolution monitors (1440p). Can be emulated by Ctrl+- to zoom out in browser if on 1080p.

![capture](https://user-images.githubusercontent.com/11896025/32518885-8f59774a-c3d0-11e7-94bf-aeeccb25928f.PNG)

[2017-11-08 04:18] howardchung commented on #1306
@mdiller ?

[2017-11-08 04:19] #1304 closed

[2017-11-08 04:39] mdiller commented on #1306
Huh that's weird. I'll take a look when I have time

[2017-11-09 03:23] #1306 closed

[2017-11-09 07:36] #1275 closed

[2017-11-09 07:36] #1274 closed

[2017-11-09 07:36] #1273 closed

[2017-11-09 18:58] mandyMooreFan commented on #1302
PMS and Iron Talon both appear to be working.  It seems only diffBlade2 is the issue.  In the match linked on reddit you can see PMS and Iron Talon shown properly on the purchase screen (https://www.opendota.com/matches/3354544275/purchases).

In dotaConstants what is the purpose of relying on?:
https://raw.githubusercontent.com/dotabuff/d2vpkr/master/dota/scripts/npc/items.json

DotaBuff doesn't

[2017-11-10 07:05] quole opened #1309 "Explorer for regular matches? (feature request)"
Explorer is awesome for pro matches.

Is there any chance of taking a random sample of 10,000 or 100,000 regular matches (per patch, per game mode) and making them available with a similar interface?

[2017-11-10 08:20] howardchung commented on #1309
I've considered it, although it may be quite space-intensive to store many tens of thousands of fully parsed public matches.

For now, a sample of public matches is available in the public_matches/public_player_matches tables (but with only a small subset of columns)

[2017-11-10 08:28] howardchung commented on #1302
Basically, in the update script we should manually insert the diffusal_blade_2 blob which is in a previous version of the items data, like: https://github.com/odota/dotaconstants/blob/b759330db327efa7e63bcfc0ec00bacfaffbf0e8/build/items.json#L7152

It also needs to be manually added to item_ids.json

That should fix both the image and the tooltip.

[2017-11-10 11:56] quole commented on #1309
Ah! Somehow I missed those public match tables... with 15,604,577 entries! They'd actually be perfect for what I'm trying to do (namely a histogram with the length of Techies games vs all games).

The only thing that seems to be missing, which almost all entries lack, is which patch they are from.

 - [here's a query showing the number of public vs pro matches per match](https://www.opendota.com/e

[2017-11-10 11:56] #1309 closed

[2017-11-10 12:07] howardchung commented on #1309
match_patch only contains pro matches.

public_matches may include pro matches, they are not mutually exclusive.

[2017-11-10 14:06] quole commented on #1309
Yup, thought that might be the case. All good. If there was a table of first and last matches per patch it would be easier to work out which patch each public game was (assuming match IDs are in order, etc), but this makeshift way works well enough (see link above on "first and last pro game")

Anyway here's the chart I made from data from the SQL interface:

https://imgur.com/ISVsdUz

I haven't p

[2017-11-11 09:57] #1299 closed

[2017-11-11 19:44] #1302 closed

[2017-11-11 19:45] #1143 closed

[2017-11-13 23:56] blueish opened #1312 "TeamfightEvent sometimes renders no heroes on losing side"
steps to reproduce:
1. go to https://www.opendota.com/matches/3557630134/story
2. Scroll to the bottom to see this:
![noheros](https://user-images.githubusercontent.com/6327663/32755522-8b775dc2-c88a-11e7-8459-23d7e24a25a2.PNG)

Logging out the TeamfightEvent props reveals that some heroes have deaths set to zero, so that the deaths variable only contains the winning team heroes (relevant line: ht

[2017-11-14 03:20] howardchung commented on #1312
@mdiller shouldn't it say "for no heroes"?

[2017-11-14 06:47] mdiller commented on #1312
So it looks like the reason why this is happening is I only accounted for the winning team having no deaths. I didn't realize you could win a teamfight when four of your players died and none of theirs did lol.

Guess I'll make a new string for when that happens.

[2017-11-14 06:54] howardchung commented on #1312
I'm guessing it was gold from the buildings, or maybe a hero died weirdly (shared kill credit?) and doesn't get picked up

[2017-11-14 06:56] howardchung commented on #1312
I'm really not sure what happened (https://www.opendota.com/matches/3557630134/teamfights)

Looks like some kind of fountain farming, but if someone wants to look at the replay maybe we can get some answers :)

[2017-11-14 06:56] mdiller commented on #1312
Hmmm yeah maybe. I'm tempted to watch the replay and look. I thought I've been in some one sided games but heres this game with 139 - 5 kills at 43 minutes in.

[2017-11-14 06:58] howardchung commented on #1312
probably the dark willow fountain camped the dire team, killed 4 heroes, got killed by the fountain, and gave a ton of gold to everyone on dire.  I'm not sure why the death doesn't show up on the teamfight log though

[2017-11-14 07:00] mdiller commented on #1312
Hmmmm yeah maybe, that'd make sense. I'm going to check the replay.

[2017-11-14 07:20] mdiller commented on #1312
What a strange game.

This happened near the end of the game, and the entire radiant team is afk in dire's fountain, killing anyone who spawns instantly.

Ancient Apparition (on dire's team) is farming in middle lane for the whole "teamfight." his farming plus the gold he gets from his three disconnected teammates means he gains about 1400 gold during the fight. That gold gain is more than the gol

[2017-11-14 07:21] mdiller commented on #1312
Looks like they went to the fountain at 30 minutes in and didn't leave until the end of the game

[2017-11-14 07:26] mdiller commented on #1312
The second one was pretty much the same thing except the AA took radiant mid rax and t3 so its a bigger gold swing to his team

[2017-11-14 07:27] mdiller commented on #1312
The AA ended up just pushing and winning the game because I guess the radiant just didn't care?

[2017-11-14 07:28] howardchung commented on #1312
https://www.youtube.com/watch?v=6DGNZnfKYnU

I just noticed that dire won haha

[2017-11-14 07:29] mdiller commented on #1312
lol yeah

[2017-11-15 08:53] steventsao commented on #1101
@howardchung How should query history be displayed? Should the select statement of each query be displayed or the query string? ie. https://docs.oracle.com/database/121/AEUTL/img/sql_hist.gif

[2017-11-15 08:54] howardchung commented on #1101
Probably the select statement

[2017-11-16 10:37] howardchung commented on #1294
This should not be too hard to do, although now that the data for the new heroes has been added, you might need to repro it by faking some data or modifying the heroes object imported from dotaconstants to simulate not having a hero object for a new ID.

[2017-11-16 16:23] PHXXXXX opened #1314 "MMR is showed incorrectly"
http://steamcommunity.com/id/phoenixdd28/
https://www.opendota.com/players/64126565

Gained +25 aren't added to solo mmr counter. Nevertheless, match can be seen through my opendota profile and mmr is displayed in dota 2 profile. Is it possible to fix?

P.S. the same problem with party mmr stuff. I have lost game but party mmr counter on the opendota says that i didn't.

MMR changes for last games

[2017-11-16 21:30] arcry2009 opened #1315 "MMR is showed incorrectly"
Gained +25 aren't added to solo mmr counter. Mmr is displayed in dota 2 profile.Is it possible to fix?
https://www.opendota.com/players/55131418
https://steamcommunity.com/profiles/76561198015397146/

[2017-11-17 04:38] howardchung commented on #1315
Sometimes it doesn't update immediately so when we check it hasn't changed yet.  It will try every time you finish a game, so eventually it should update (but may be a game behind)

[2017-11-17 04:38] #1315 closed

[2017-11-17 04:39] howardchung commented on #1314
Valve sometimes doesn't update the MMR value for a while after the match is played.  It should update eventually after you finish another game.

[2017-11-17 04:39] #1314 closed

[2017-11-17 10:51] #1294 closed

[2017-11-18 03:37] #1312 closed

[2017-11-19 23:55] pennomi opened #1325 "Benchmarks: Hero Healing Per Minute"
On the Benchmarks tab, there's a column for "Hero Healing per Minute". For most heroes, this value is at zero. However, even though the value is zero, it places the player at a percentile.

It's possible I just don't understand what the percentile means here, but it really doesn't make sense to me; if I did zero healing, that means I would be in the 0th percentile, right? Or is it the other way ar

[2017-11-20 00:01] howardchung commented on #1325
I think the standard definition of percentile is the percent of observations that fall at or below the indicated value.  0 is a valid value, so I don't think we should omit it.

If a percentile is given for a 0 value, that's the percent of observations that was 0.  I think the tooltip indicates "equal or less than"

[2017-11-20 00:21] pennomi commented on #1325
Yep you're right. It feels a bit strange to be given a green "all is good" for a stat that you did nothing on, but I suppose that means you're playing the hero as intended, so in fact things are all good.

[2017-11-20 00:21] #1325 closed

[2017-11-20 01:33] #1157 closed

[2017-11-20 04:08] superoo7 commented on #1266
Sorry for the delay reply, I was busy in the past 3 weeks, now looking through the statement u said on the "unexpected token <", I don't really know what is it on the configuration on netlify, but another approach is to create our own `service-worker.js` where giving up the [default service worker](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/RE

[2017-11-20 04:11] howardchung commented on #1266
If you know how to patch the worker to get it to work, we can try it out?

[2017-11-20 04:12] howardchung commented on #1266
I tried making netlify serve 404 for not found errors of the JS bundle, but the problem still occurs, so that's probably not the issue.

If it's an issue with the service worker though, I'd imagine that people would have running into this since create-react-app is quite popular

[2017-11-20 04:21] superoo7 commented on #1266
Not too sure whether is create-react-app issue or not, I think I will create a `service-worker.js` in the public folder, and then enable it in the `src/index.js` file. Will update you once is done

[2017-11-20 04:56] superoo7 commented on #1266
I ejected a project created with `create-react-app` and in the `webpack.config.prod.js` file:

![screen shot 2017-11-20 at 12 48 50 pm](https://user-images.githubusercontent.com/15358452/33002771-3a39c758-cdf1-11e7-86ad-35b93d8e49f3.png)

It uses `SWPrecacheWebpackPlugin` to create `service-worker.js`.
SWPrecache is the Preaccessor of WorkBox, it is stable and older tool, which does not have the l

[2017-11-20 10:58] howardchung commented on #1309
I actually made this!  #1322

[2017-11-22 00:17] scottcandy34 opened #1328 "Just joined and player data nonexistent"
My roommate just found this and was like you join. when i did it refused to display anything about my profile. i have tried to refresh the page and the refresh button but it still does not load my game data. i would love to check this out more but cant because it refuses to load anything. i use the same account name.

[2017-11-22 02:31] coreymaher commented on #1328
@scottcandy34 It looks like you haven't enabled "Expose Public Match Data" in your dota 2 settings.
It should be under options -> advanced options -> social -> Expose Public Match Data.

Once you enable that you should be able to hit the refresh button on your profile again and then matches will start showing up in a little while.

[2017-11-22 04:01] scottcandy34 commented on #1328
@coreymaher Thx that fixed it right up....

[2017-11-22 04:06] #1328 closed

[2017-11-23 12:24] howardchung opened #1330 "laning player table should show team affiliation"
Would make it easier to tell who won the laning stage (radiant or dire).

We can use the IconRadiant and IconDire in a new column?

https://www.opendota.com/matches/3577473492/laning

[2017-11-23 12:25] howardchung opened #1331 "text overflow on crosstables"
See the right crosstable on this page:
https://www.opendota.com/matches/3577473492/combat

[2017-11-23 12:30] howardchung opened #1332 "consider adding toggle to show/hide small purchases"
The items tab has always been pretty crowded.

Consider adding a toggle that hides small items like TP scrolls and wards, and default it to on.

Example:
https://www.opendota.com/matches/3577473492/purchases

[2017-11-23 12:36] howardchung commented on #1142
Any update on this?

It's also possible to get player images from the dota 2 client, I can pull those and upload to the repo if good to have

[2017-11-23 12:38] howardchung commented on #1276
I'm guessing this is moot with the new ranked system

[2017-11-23 12:38] #1276 closed

[2017-11-23 12:38] howardchung commented on #1183
I think this is moot with the new ranked system

[2017-11-23 12:38] #1183 closed

[2017-11-23 12:41] #393 closed

[2017-11-23 12:41] howardchung commented on #393
party mmr no longer exists

[2017-11-23 12:46] howardchung commented on #699
It sounds like what this issue is asking for is a measure of uncertainty in the MMR estimate.  That's probably doable, by assigning scores for each type, like:
* ranked solo: 1
* ranked party: 0.75
* unranked solo: 0.5
* unranked party: 0.22

then average out the scores for the matches used in the estimate and pass that value down.

[2017-11-24 05:38] howardchung commented on #1330
fixed in #1334

[2017-11-24 05:38] #1330 closed

[2017-11-24 08:08] steventsao commented on #1101
The full select statements are so long for showing in the query history pane so I need to look for other examples. The scope of this is larger than I anticipated. If there are other takers please feel free to take this issue, which I'll stay subscribed.

[2017-11-24 08:09] howardchung commented on #1101
Maybe you can just show a short snippet and ellipsis the rest?

[2017-11-24 08:40] shieldal commented on #1332
I'm giving this a try, I haven't used React before so it might get a bit messy.

[2017-11-24 21:24] #1331 closed

[2017-11-25 18:54] sepehr500 commented on #1039
Could we try training a basic classification algo to do this? Then run the match stats through and see what it classifies?

[2017-11-25 20:41] howardchung commented on #1039
Sure, although you'll probably want to do this server side (odota/core)

[2017-11-27 00:39] #1332 closed

[2017-11-27 17:24] CrazyKiller8897 opened #1340 "Mmr Update"
Hai!!
In my profile only my previous mmr is being displayed but not the new one

[2017-11-27 18:21] mcetkovsky opened #1341 "Show Last Hit and Deny stats made during laning stage"
The total number of last hits is quite biased by late game and does not really represent the player skills of last hitting. For example, Death Prophet can get lots of last hits using Crypt Swarms to quickly kill creeps when preparing to attack a tower in late game.

As such I suggest to show Last Hit and Deny stats during the first few minutes of the game and make benchmarks on this early game sta

[2017-11-27 18:28] mcetkovsky commented on #1280
Two ideas came to my mind.

1. Connect the lines (need some logic code) while keeping on mind that if 1 and 3 is a party and 2 and 4 is a party, the lines will intersects which needs to be visually solved somehow (for example, different horizontal spacing).

2. Use another indicators instead of lines if sorted, for example badges like (1), (2) to indicate parties.

[2017-11-27 18:37] mcetkovsky opened #1342 "Provide stats and metrics descriptions"
There are lot of pages, acronyms and stats which has no explanation what the stat/metric tracks and how it is calculated (if it is not clear from its title) so it is understandable for new comers or casual gamers.

For example, I don't find self-explainable the Comeback, KLA and Map pings.

[2017-11-28 03:58] howardchung commented on #1342
Sure, we can add tooltips/subtitles for those.  Are there any more terms that are confusing?

[2017-11-28 03:58] howardchung commented on #1280
Perhaps we should just hide the party indicators when there is a sort applied to the table?

[2017-11-28 03:59] howardchung commented on #1341
We do track the LH@10 stat, although it's currently not benchmarked.

[2017-11-28 04:00] howardchung commented on #1340
Since the Valve update for seasonal ranked medals, MMR is no longer accessible via the client.  We will probably keep the graph around, but it won't update anymore.

[2017-11-28 04:00] #1340 closed

[2017-11-28 07:37] mcetkovsky commented on #1280
Sure, that's the third option. I just have no idea whether it the party info is useful or not while sorting.

[2017-11-28 07:39] mcetkovsky commented on #1341
I haven't come across the LH@10 stat anywhere. Where can I find it?

[2017-11-28 08:12] howardchung commented on #1341
It's on the laning tab

[2017-11-28 10:09] siXor opened #1343 "Turned off "Expose Public Match Data" for some games and now they don't show"
What title says. I turned the option off for 5-10 games and then turned it back on. The latest games that I played are recorded but I'm still missing those that I played with the setting turned off. I pressed the refresh button on my profile and waited one day but nothing has happened.

Player-id: 25597735
Missing games are from Saturday-Sunday. I played some games on Monday and they show, I thoug

[2017-11-28 12:37] mcetkovsky commented on #1342
There is lots of them where I have a feeling of missing something.

Few more examples:
* I can get nothing from Fantasy tab as I have no idea what it means, what the points are, what they represent, how I stand against others etc,
* I have no idea what does the Rankings number is on heroes' Rankings tab.
* What does the Advantage number on on heroes' Players tab means (ok, it somehow involves a Wi

[2017-11-28 15:55] coreymaher commented on #1343
@siXor Are the missing games ranked? I think valve got rid of the API opendota uses to grab old ranked games.

[2017-11-28 16:40] siXor commented on #1343
Yes, those are ranked games. If they removed the API then that sucks. Is there no way to get them into opendota?

[2017-11-28 16:48] coreymaher commented on #1343
If you know the match ids you can manually request them: https://www.opendota.com/request

[2017-11-29 02:50] superoo7 commented on #1266
I made a PR on fixing the error ` "unexpected token <"`

[#1344](https://github.com/odota/web/pull/1344)

[2017-11-29 03:39] howardchung commented on #1342
Thanks for the list!  We'll probably gradually add tooltips/subtitles in for these areas.  Feel free to submit a PR if you want to join the effort.

[2017-11-29 04:55] coreymaher opened #1345 "Hero recent pro matches shows incorrect win/loss result"
It looks like the recent matches section on a hero page does not always show the correct outcome of the match.

For example: https://www.opendota.com/heroes/111/recent
This is showing several matches as losses where the oracle player won, and wins where the oracle player lost.

[2017-11-29 09:54] howardchung commented on #1345
We should replace this column with `radiant_win`
https://github.com/odota/core/blob/master/routes/spec.js#L3367

That way the UI handles the display correctly:
https://github.com/odota/web/blob/a94de8135f5c6154bb24b01d7357de290caf10ca/src/components/Hero/Recent.jsx#L52

[2017-11-30 02:00] siXor commented on #1343
@coreymaher Thanks. I just did that and all missing games got added. Closing the issue.

[2017-11-30 02:00] #1343 closed

[2017-11-30 03:44] howardchung commented on #1345
Fixed this in core, should be fixed in UI when the web instances update.

[2017-11-30 15:09] drigols commented on #1342
I'm new to the project, could anyone guide me with this problem? I wanted to help ...

[2017-11-30 15:45] j08 opened #1347 "Stat request for the 'Vision' page."
On the detailed Vision page for a match, is it possible to add in an Average Lifespan of Observers and Sentries somewhere? You pretty much have all that data on the page already, but to see it in a column or box somewhere would make it faster and easier to digest.

I mainly play support and knowing if I was being de-warded often would help me.

A second feature for that page that would be nice if

[2017-12-01 04:50] howardchung commented on #1342
For the histograms we can probably add it to the subtitle part of the Heading component:
https://www.opendota.com/players/88367253/histograms/comeback

For others we can use tooltips (see existing tooltips for reference code)

[2017-12-01 04:51] howardchung commented on #1347
1) Averages are certainly doable, just need to compute and render them into a box/table in client side.

2) @dartharaknus might know more about mapping the ward log table to the wards shown on the map.  I think it should be possible?

[2017-12-01 06:01] coreymaher opened #1348 "Story tab crashes on matches with an unexpected item"
It looks like Aeon Disk was renamed from combo_breaker to aeon_disk, so it is no longer in the dota constants. This crashes the story tab when it's attempting to find expensive items.

[2017-12-01 06:58] #1348 closed

[2017-12-01 08:33] howardchung opened #1351 "add ranked medals to player pages"
medal images added in #1337

Data is present in the players API call, just need to render the correct image

[2017-12-01 08:33] howardchung opened #1352 "remove avg mmr, player mmr from match pages"
These values will slowly get more and more inaccurate

[2017-12-01 09:34] GravityMsc commented on #1351
I want to add ranked medals in the div.titleNameButtons, in front of "playerName". Is it ok?

[2017-12-01 09:37] GravityMsc commented on #1351
![image](https://user-images.githubusercontent.com/17739114/33476783-3433270c-d6be-11e7-96a3-488870cb803f.png)

the location of that red circle

[2017-12-01 09:38] howardchung commented on #1351
sounds good to me

[2017-12-02 03:06] zerat001 opened #1355 "An error occured while compiling the story for this match"
I get this message in the story tab for one of my matches.  I waited a bit and requested a reparse to see if that would fix it but it did not.  https://www.opendota.com/matches/3593740927/story

[2017-12-02 10:00] howardchung commented on #1355
I think #1349 should fix this, I'm planning to deploy it tomorrow

[2017-12-02 15:52] sepehr500 commented on #1280
I was speaking UX friend about this and I think a good solution would be to have a colored line on the left edge of the container. Similar to the line in the hero images. That way, when the players are next to each other, they can be associated with each other, and when they are separate, it looks fine.

[2017-12-02 22:57] #1355 closed

[2017-12-02 22:57] #1352 closed

[2017-12-02 22:58] #1345 closed

[2017-12-02 23:46] howardchung opened #1357 "Deploy meta explorer"
Implemented but put this on hold since Valve changed to the new rank system.  Need to clean it up and change the filters to work by rank tier

[2017-12-03 06:36] howardchung opened #1360 "Add placeholder text for empty tables"
As suggested in #1342, player peers and rankings should show some placeholder text such as "This player has no peers" or "This player is not ranked on any heroes" when the responses have no data.

[2017-12-03 08:04] howardchung commented on #1280
@sepehr500 do you want to submit a PR with that change?  We can hold on merging #1353 if you're interested in testing that.

[2017-12-03 15:34] #1261 closed

[2017-12-03 17:50] sepehr500 commented on #1280
Sounds good to me. I am not super familiar with the code base, but will try to get a PR in today or tomorrow.

[2017-12-03 18:45] lglantz commented on #1280
I'm  the UX friend :)
@sepehr500 lets try `#D7E874` and `#4C5900` for Radiant, and `#FF9486` and `#740D00` for dire. I think there can only be a max of 4 parties per match right? Still a little concerned that if we remove all the ornamentation that users might not immediately understand that these are party indicators.

[2017-12-03 18:47] mcetkovsky commented on #1280
We can keep the ornamentation as long as the keep the user choose to manually sort the table.

[2017-12-03 18:50] sepehr500 commented on #1280
@lglantz Maybe we could use a symbol with the border highlight?

[2017-12-03 18:59] lglantz commented on #1280
@sepehr500 I think that would work really well.

[2017-12-03 22:59] sepehr500 commented on #1280
@howardchung This is what we got so far
![image](https://user-images.githubusercontent.com/8966311/33530889-b91c0cfe-d853-11e7-8552-65bb73664bf7.png)

[2017-12-03 23:24] howardchung commented on #1280
If you submit a PR we can check out it looks on stage preview.

It looks like https://github.com/odota/web/pull/1362 attempted to do this as well, but the PR was closed.

[2017-12-03 23:27] howardchung commented on #1261
Not an issue anymore?

[2017-12-03 23:38] JaydenIvanovic commented on #1360
I'd be more than happy to start contributing to this project and tackle this as a first issue.

[2017-12-03 23:39] howardchung commented on #1360
Go for it!  Ask here or on Discord if you have any questions.

[2017-12-03 23:50] Argn0 commented on #1280
yes my PR looked like this.

![partyy](https://user-images.githubusercontent.com/29599118/33531406-0ccac9a6-d88d-11e7-8d0a-9613e6910629.jpg)

I deleted it because I liked his solution better.

[2017-12-03 23:58] sepehr500 commented on #1280
@Argn0 Do you have any idea where the styling for this should go? When I sort only the data in the rows change, but the left highlight stays the same. master...sepehr500:partyStyle

[2017-12-04 00:00] Argn0 commented on #1280
you want to check out the "parties" function in matchColumns.jsx and the Styling in HeroImage.jsx

[2017-12-04 00:08] Argn0 commented on #1280
also do we want party indicators on all tables or just the overview table?

[2017-12-04 00:14] lglantz commented on #1280
@Argn0 The current site only has it on the overview table, so we figured we'd keep it that same for now. I think that makes sense - party doesn't seem as important for the ability chart and the who-killed-who chart.

[2017-12-04 00:22] sepehr500 commented on #1280
This is what I have so far.
![image](https://user-images.githubusercontent.com/8966311/33531722-fa2c25de-d85e-11e7-9943-a16a62e42a05.png)

I can not get the bar to expand to the full height of the row without being to being to small or too big. Any idea how to get the css to work? (don't look at `table.jsx`) https://github.com/odota/web/compare/master...sepehr500:partyStyle

[2017-12-04 00:28] Argn0 commented on #1280
Unfortunately I'm a CSS noob myself so I can't help you.

[2017-12-04 00:43] howardchung commented on #1280
We got another PR for this issue, looks like this:

https://deploy-preview-1364--opendota-stage.netlify.com/matches/3543293434

[2017-12-04 00:44] pullman14 commented on #1280
I just took a crack at it. I had the same problem as @sepehr500 with the different heights. I think it's due to the item loadout changing the height of the row, so that's probably hard to do with just css rules.

[2017-12-04 00:48] howardchung commented on #1280
You can hack it by messing with the absolute position values, but idk if that's the best solution.  It'll probably break on double-height rows (like lone druid with bear items)

[code]

maybe @blukai has some tips?

[2017-12-04 01:07] sepehr500 commented on #1280
I think I can solve it by using the same method the kda bar uses to be be
flush with the bottom of the row.

On Sun, Dec 3, 2017, 7:48 PM Howard Chung <notifications@github.com> wrote:

--
Thanks~Sepehr Sobhani

[2017-12-04 01:22] sepehr500 commented on #1280
@lglantz and I have another solution. Will make a PR soon.

[2017-12-04 03:56] sepehr500 commented on #1280
Finally got it working!!!

![image](https://user-images.githubusercontent.com/8966311/33535649-d6bd4542-d87c-11e7-8c4f-77c2897a1dab.png)

https://github.com/odota/web/pull/1366

[2017-12-04 05:12] JaydenIvanovic commented on #1360
Thanks for the quick response! I've started playing with this throughout the day and have one question so far. How should I go about getting the different strings for the different languages for these placeholder messages?

[2017-12-04 06:12] howardchung commented on #1360
Just add them to en-US.json and the translators will translate it

[2017-12-04 06:18] #1351 closed

[2017-12-04 06:19] #1280 closed

[2017-12-04 07:15] Luchanso commented on #1261
I just don't know how to resolve it

[2017-12-05 13:44] kxxoling opened #1371 "Some suggestions on Averages/Maximums tab."
This is a example of my Averages/Maximums in last 20 matches.

![image](https://user-images.githubusercontent.com/1227139/33609768-4fb78bd2-da04-11e7-9a1f-9d583088fd51.png)

1. As you could see, my max XPM and GPM are 1.4k and 1.9k, far more than pro players. This is because they are both Turbo modes.
2. Match link is hard to click, because the hero icon is too small. I think this could be improve

[2017-12-05 15:01] GravityMsc commented on #1371
I don't think min death is useful. Almost everyone's min death is less than 3 times. And as we all know, record means rare data.

[2017-12-05 15:06] kxxoling commented on #1371
@GravityMsc This is a good point. How about the others? I think Turbo mode games should be separated or even hidden. They are basicly just for fun.

[2017-12-05 15:11] GravityMsc commented on #1371
@kxxoling I agree. Only normal or ranked matches' records are memorable.

[2017-12-05 17:41] BGCrash opened #1372 "High MMR games"
Hey

I guess this got already noticed but the "Matches -> High MMR" page isn't working yet since you implemented the new ranking system. Is this gonna get fixed soon?

[2017-12-06 04:59] howardchung commented on #1347
The second half of this feature request is implemented in #1373

[2017-12-06 05:00] howardchung commented on #1372
Yeah I'll update this soon.  I'm planning to change the text of the tab to "Top Public" and remove the low MMR tab.

[2017-12-06 06:34] #1372 closed

[2017-12-06 14:32] j08 commented on #1347
Thank you. It's not quite what I meant, but the extra detail is very welcome!

[2017-12-07 03:41] #1271 closed

[2017-12-07 05:17] howardchung opened #1378 "[PROPOSAL] split tables on mobile devices/fix header and first column"
A proposal to split wide tables for mobile devices:

Currently we deal with wide tables by making them scrollable to the right, which works but is suboptimal because the leftmost column (like the hero column) gets hidden and it becomes difficult to tell which row the data goes with.

This makes large tables almost unusable on mobile devices:
https://www.opendota.com/heroes/public

We could extend

[2017-12-07 06:18] GravityMsc commented on #1378
I have an advice:
  Can we fix the thead and scroll the tbody. And the same time, we fix the hero columns and scroll-x of the table. if width is not enough,hide heros' name.

there is an [example](https://ant.design/components/table/#components-table-demo-fixed-columns-header) of Ant Design

[2017-12-07 08:56] #1347 closed

[2017-12-07 08:58] howardchung commented on #1378
Hmm, I do like that solution.  Can we implement similar logic on the material-ui table?

[2017-12-07 09:09] #1357 closed

[2017-12-07 09:22] GravityMsc commented on #1378
I need to learn about material-ui. I am not familiar with it.
This need some time to do. I try it in my rest time, and you can highlight this issue to call our contributors to attemt it.

[2017-12-07 09:43] howardchung commented on #1118
I'm guessing this is moot now that ranked medals are out and are public to everyone.

[2017-12-07 09:43] #1118 closed

[2017-12-07 09:45] howardchung commented on #798
Would this still be useful to find the top Divine 5 players in your country?

[2017-12-11 07:03] howardchung opened #1383 "replace "No. " string"
https://github.com/odota/web/blob/2d252ebaaa9c54f1a6813f9bbc38bbf872c172c9/src/components/Player/Header/PlayerHeader.jsx#L166

@GravityMsc could you replace "No." with a `#` symbol or move it to the string file?

[2017-12-11 07:09] GravityMsc commented on #1383
I have replied in the discord channel.

[2017-12-11 07:57] #1383 closed

[2017-12-11 09:51] JaydenIvanovic commented on #1360
Sorry for the delay on this. I have a branch ready but I am unable to push it to the remote (I get a 403 back). Is there any additional steps I need to follow in order to submit a pull request?

[2017-12-12 03:58] howardchung commented on #1360
You can either push to your own fork and submit a PR or I can add you as a contributor

[2017-12-13 05:01] previsualconsent opened #1391 "Gold graphs don't end at the right time."
In a ticketed tournament game, the last 3 minutes have zero GPM. This is a game where one team GG'd to end the game.
https://www.opendota.com/matches/3612852168/graphs

This could be just cosmetic except they GPM score on the analysis tab says the lowest GPM in a 3 minute interval is basically zero.

[2017-12-13 05:08] howardchung commented on #1391
Yeah I think this is because the replay actually goes on for a few minutes longer.  Could probably be fixed either at the replay parsing level or on the analysis tab.

[2017-12-13 05:12] previsualconsent commented on #1391
The total match time still looks correct though.

[2017-12-13 05:14] howardchung commented on #1391
The match time is from the API, but the gold graph is from replay parsing.

[2017-12-13 08:55] #1360 closed

[2017-12-14 08:36] #1391 closed

[2017-12-14 16:08] rezk2ll opened #1394 "how about adding an indicator to show which player had the highest stats?"
Hello,

I think it would be good to show which player had the highest Kills/Deaths/Assists/Last Hits/XPM/GPM...

the indicator could be an `underline` or a `star` or something `remarkable`. I know there is a sort functionality in the match table but it would be great to see all the highest stats without the need to sort each one at a time.

thanks.

[2017-12-14 21:14] JaydenIvanovic commented on #1378
I'm happy to attempt the above solution with the material-ui table. Have you put any work into this so far?

[2017-12-15 00:56] GravityMsc commented on #1378
@JaydenIvanovic not yet. Recently I don't have enought time to do this.

[2017-12-15 05:01] howardchung commented on #1394
Sure, I think it would be possible to add this functionality to Table and then enable it in each column definition.

[2017-12-15 05:11] #1371 closed

[2017-12-15 15:06] #1394 closed

[2017-12-16 02:15] meyard opened #1399 "my steam account with opendota is not linked"
I have been on opendota for more than a month, however when I want to see the analysis of my last games it appears that my last departure was 8 months ago.
I would like your support please, in what way can I link to see my games.
regards
Thank you
![asd](https://user-images.githubusercontent.com/34589719/34066465-ff403af6-e1dc-11e7-9675-b961aaaff57a.png)